In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Exploration & Compréhension

In [2]:
data = pd.read_csv("jobs.csv", encoding="latin-1")
data.head()

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."

In [3]:
data.shape

(3198, 8)

Nous avons un dataset de 3198 entrées et 8 champs

In [4]:
data.dtypes

Company                       object
Job Title                     object
Location                      object
Job Type                      object
Experience level              object
Salary                        object
Requirment of the company     object
Facilities                    object
dtype: object

Toutes les variables sont des objets. Bon à savoir !

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

- Compréhension & Analyse: Nous avons 3198 entrées. 
    - Seules les colonnes "Facilities" et "Requirment of company" sont toutes bien remplies
    - Les colonnes "Company", "Job Title", "Location" ont seulement une valeur manquante
    - La colonne "Experience level" a 2962 entrées sur 3198. Donc près de 93% de valeurs remplies et 7% de valeurs manquantes 
    - La colonne "Salary" a 3009 entrées sur 3198. Donc 94% de valeurs remplies et 6% de valeurs manquantes

In [6]:
# Afficher un résumé statistique du DataFrame
summary = data.describe(include='all')
summary

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
count,3197,3197,3197,3197,2962,3009,3198,3198
unique,1106,2138,1117,3,4,218,2600,777
top,Publicis Groupe,Data Engineer,"Bengaluru, India",Full Time,Senior-level,115K+ *,"Big Data,Business Intelligence,Data analysis,E...",",,,,"
freq,126,105,90,3116,1876,253,12,542

- "count": Cela indique le nombre total de valeurs non manquantes (non nulles) dans chaque colonne du DataFrame. Par exemple, il y a 3197 valeurs non manquantes pour la colonne "Company", "Job Title", "Location", etc.

- "unique": Cela représente le nombre d'éléments uniques dans chaque colonne du DataFrame. Par exemple, il y a 1106 entreprises uniques, 2138 titres de poste uniques, 1117 emplacements uniques, etc.

- "top": Cela indique la valeur la plus fréquente (top) dans chaque colonne. Par exemple, "Publicis Groupe" est l'entreprise la plus fréquente dans la colonne "Company", "Data Engineer" est le titre de poste le plus fréquent, "Bengaluru, India" est le lieu le plus fréquent, etc.

- "freq": Cela représente la fréquence (nombre d'occurrences) de la valeur la plus fréquente (top) dans chaque colonne. Par exemple, "Publicis Groupe" apparaît 126 fois dans la colonne "Company", "Data Engineer" apparaît 105 fois dans la colonne "Job Title", "Bengaluru, India" apparaît 90 fois dans la colonne "Location", etc.

Une remarque: Nous n'avons pas de valeurs numériques !

# Data Cleaning

Cette étape consiste à nettoyer les données en corrigeant les erreurs, en supprimant les impuretés pour ne conserver que les valeurs propres, correctes, utiles et pertinentes. Nous serons amenés à:
- Gérer les doublons
- Formattage
- Gérer les valeurs manquantes
- Gérer les valeurs abérrantes et atypiques

## Gestion des doublons

In [7]:
data.duplicated().sum()

202

Nous avons 202 doublons. Nous allons les supprimer pour éviter les conflits de données.

In [8]:
data.drop_duplicates(inplace = True)
data.duplicated().sum()

0

Les doublons ont bien été supprimés

In [9]:
data.head()

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."

# Salary

Cette colonne a des valeurs manquantes, des salaires avec différentes dévises (GBP, EUR)

In [10]:
distinct_salary = data["Salary"].unique().tolist()
distinct_salary

[' 48K+ *',
 ' 90K+ *',
 ' 108K+',
 ' 184K+',
 ' 39K+ *',
 nan,
 ' 140K+',
 ' 40K+ *',
 ' 80K+ *',
 ' 35K+ *',
 ' 62K+ *',
 ' 159K+',
 ' 97K+',
 ' 92K+ *',
 ' 129K+ *',
 ' 115K+ *',
 ' 44K+ *',
 ' 73K+ *',
 ' 59K+ *',
 ' 106K+',
 ' 105K+ *',
 ' 55K+ *',
 ' 110K+ *',
 ' 63K+ *',
 ' 49K+ *',
 ' 180K+',
 ' 127K+',
 ' 60K+',
 ' 45K+ *',
 ' 135K+',
 ' 69K+ *',
 ' 176K+',
 ' 65K+ *',
 ' 51K+ *',
 ' 67K+',
 ' 104K+',
 ' 105K+',
 ' 166K+',
 ' 131K+ *',
 ' 115K+',
 ' 43K+',
 ' 81K+ *',
 ' 96K+ *',
 ' 56K+ *',
 ' 130K+',
 ' 131K+',
 ' 50K+ *',
 ' 100K+',
 ' 60K+ *',
 ' 52K+',
 ' 135K+ *',
 ' 76K+',
 ' 172K+',
 ' 119K+',
 ' 125K+',
 ' 116K+',
 ' 77K+ *',
 ' 74K+ *',
 ' 70K+ *',
 ' 120K+',
 ' 189K+',
 ' 149K+',
 ' 110K+',
 ' 90K+',
 ' 30K+ *',
 ' 167K+',
 ' 236K+',
 ' 179K+',
 ' 80K+',
 ' 200K+',
 ' 139K+',
 ' 129K+',
 ' 113K+',
 ' 150K+',
 ' 158K+',
 ' 40K+',
 ' 184K+ *',
 ' 133K+',
 ' 78K+',
 ' 36K+ *',
 ' 122K+ *',
 ' 81K+',
 ' 59K+',
 'EUR 81K',
 ' 190K+',
 ' 72K+',
 ' 136K+',
 ' 102K+ *',
 ' 31K+ *',
 ' 89K+ *',
 ' 156K+',
 ' 107K+',
 ' 199K+',
 ' 224K+',
 ' 142K+',
 'GBP 35K',
 ' 183K+',
 ' 164K+',
 'EUR 130K+',
 ' 174K+',
 ' 84K+',
 ' 79K+',
 ' 103K+ *',
 ' 143K+',
 ' 175K+',
 ' 170K+',
 ' 141K+ *',
 ' 283K+',
 ' 151K+',
 ' 111K+',
 ' 51K+',
 ' 96K+',
 ' 148K+',
 ' 204K+',
 ' 202K+',
 ' 295K+',
 ' 68K+',
 ' 195K+',
 ' 145K+',
 ' 50K+',
 ' 267K+',
 ' 200K+ *',
 ' 109K+ *',
 ' 310K+',
 ' 153K+',
 ' 154K+',
 ' 86K+',
 ' 70K+',
 ' 207K+',
 ' 85K+',
 ' 66K+',
 ' 315K+',
 ' 160K+',
 ' 66K+ *',
 ' 144K+',
 ' 245K+',
 ' 126K+',
 ' 63K+',
 ' 182K+',
 ' 157K+',
 ' 214K+',
 ' 173K+',
 'EUR 80K+',
 ' 120K+ *',
 'EUR 36K+',
 'EUR 60K+',
 'GBP 42K+',
 ' 112K+',
 ' 124K+',
 ' 185K+',
 ' 147K+',
 ' 122K+',
 'GBP 80K+',
 ' 144K+ *',
 ' 146K+',
 ' 165K+',
 ' 75K+',
 ' 163K+',
 ' 193K+',
 ' 109K+',
 'GBP 60K+',
 ' 218K+',
 ' 230K+',
 ' 168K+',
 ' 134K+',
 ' 225K+',
 ' 253K+',
 ' 83K+',
 ' 235K+',
 ' 187K+',
 ' 227K+',
 ' 73K+',
 ' 61K+ *',
 ' 171K+',
 ' 234K+',
 'GBP 45K+',
 ' 155K+',
 ' 71K+',
 ' 94K+',
 ' 57K+ *',
 ' 197K+',
 ' 102K+',
 ' 82K+',
 ' 177K+',
 'GBP 50K+',
 ' 93K+',
 ' 55K+',
 ' 121K+',
 ' 42K+ *',
 ' 45K+',
 ' 75K+ *',
 ' 152K+',
 ' 161K+',
 ' 155K+ *',
 ' 132K+',
 'GBP 55K+',
 ' 138K+',
 ' 196K+',
 ' 205K+',
 'GBP 65K+',
 ' 178K+',
 ' 95K+',
 ' 33K+ *',
 ' 54K+ *',
 ' 98K+',
 ' 141K+',
 ' 95K+ *',
 ' 65K+',
 'GBP 55K',
 ' 99K+',
 ' 220K+',
 ' 74K+',
 ' 103K+',
 ' 100K+ *',
 'GBP 51K+',
 ' 128K+',
 'GBP 54K+',
 ' 123K+',
 ' 117K+']

Il ya des valeurs manquantes(0 ou en négociation), les dévises ne sont pas uniformes,

In [11]:
na_salary = data[data["Salary"].isna()]
na_salary.head(50)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
39,Angi,Senior Data Scientist,"Indianapolis, IN - Hybrid",Full Time,Senior-level,NaN,"Big Data,Data Mining,Machine Learning,Mathemat...","401(k) matching,Career development,Competitive..."
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,NaN,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,"
75,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,NaN,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,"
87,Civis Analytics,Lead Applied Data Scientist (Experience with M...,Remote,Full Time,Senior-level,NaN,"Causal inference,Computer Science,Consulting,D...","401(k) matching,Career development,Competitive..."
168,Faraday Future,Senior Big Data Engineer,"San Jose, California, United States",Full Time,Senior-level,NaN,"Airflow,AWS,Azure,Big Data,Computer Science,Da...","Equity,Relocation support,,,"
170,Wallbox,Analytics Engineer Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,NaN,"Airflow,BigQuery,CI/CD,Databricks,Data quality...","Career development,Flex hours,Team events,,"
201,Veritone,Data Analytics Engineer,United States,Full Time,Senior-level,NaN,"Agile,APIs,AWS,Business Analytics,Business Int...","401(k) matching,Career development,Competitive..."
208,Publicis Groupe,Senior Associate Data Engineering,"Houston, TX, United States",Full Time,Mid-level,NaN,"Agile,Architecture,AWS,Azure,BigQuery,Bigtable","Career development,Flex hours,Flex vacation,Pa..."
213,Bosch Group,Data Management Internship,"Beograd, Serbia",Internship,Entry-level,NaN,"Computer Science,Data management,Engineering,E...","Flex hours,,,,"
217,Wallbox,Data Analyst Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,NaN,"Economics,Engineering,Machine Learning,Mathema...","Career development,Flex hours,Team events,,"
274,Outrider,"Senior Manager, Perception Deep Learning",Remote,Full Time,Senior-level,NaN,"Deep Learning,Engineering,Machine Learning,Pyt...","Career development,Equity,Salary bonus,Startup..."
299,Phaidra,AI Research Engineer,Remote,Full Time,Senior-level,NaN,"Computer Science,Deep Learning,Docker,Engineer...","Career development,Competitive pay,Equity,Gear..."
302,Phaidra,AI Research Scientist,Remote,Full Time,Senior-level,NaN,"Architecture,Deep Learning,Docker,GCP,GitLab,I...","Career development,Competitive pay,Equity,Gear..."
317,Experian,Data Science/ Analytics Intern- Long Term,"Sisli, Türkiye",Full Time,Entry-level,NaN,"Machine Learning,Python,,,,",",,,,"
328,Instructure,Data Analyst Intern - Product Analytics,US-Remote,Internship,Entry-level,NaN,"Data analysis,Engineering,Python,R,Research,","Career development,Startup environment,Team ev..."
329,Fulcrum Digital Inc.,System Reliability Engineer (Big Data),"Northwest Township, MO, United States",Full Time,Senior-level,NaN,"Big Data,Bitbucket,CI/CD,Data analysis,Data go...",",,,,"
334,AudioEye,Staff Machine Learning Engineer,Remote - United States,Full Time,Senior-level,NaN,"Computer Science,Computer Vision,Data pipeline...","401(k) matching,Career development,Competitive..."
351,Clarity AI,Junior MLOps - Intern,"London, England, United Kingdom - Remote",Internship,Entry-level,NaN,"Banking,Computer Science,Consulting,Finance,Fi...","Career development,Flex hours,Flex vacation,St..."
353,Canva,Business Intelligence Internship (Summer 23/24),"Sydney, New South Wales, Australia",Internship,Entry-level,NaN,"A/B testing,Amplitude,Big Data,Business Intell...","Career development,Flex hours,Flex vacation,Te..."
370,Handshake,Staff+ Machine Learning Engineer - Generative AI,"San Francisco, CA or Denver, CO or",Full Time,Senior-level,NaN,"Architecture,Azure,BigQuery,Computer Science,D...","401(k) matching,Career development,Equity,Flex..."
411,Future PLC,Senior Business Intelligence Analyst,"Bath, England, United Kingdom",Full Time,Senior-level,NaN,"Agile,BigQuery,Business Intelligence,Data anal...","Team events,Unlimited paid time off,,,"
414,Canva,Data Analytics Internship (Summer 23/24),"Sydney, New South Wales, Australia",Internship,Entry-level,NaN,"A/B testing,Big Data,Data Analytics,Data wareh...","Career development,Flex hours,Flex vacation,Te..."
418,Lely,Stage: Robotics,"Maassluis, Netherlands",Full Time,Entry-level,NaN,"Engineering,Machine Learning,Robotics,,,",",,,,"
423,Bosch Group,Data Analyst Intern,"Mount Prospect, IL, United States",Full Time,Entry-level,NaN,"Industrial,SQL,,,,",",,,,"
429,HRL Laboratories,Natural Language Processing Intern,"Calabasas, CA",Internship,Entry-level,NaN,"Computer Science,GPT,GPT-3,GPT-4,HuggingFace,LLMs","401(k) matching,Career development,Competitive..."
453,Vectra,Senior Data Scientist,"Dublin, Ireland",Full Time,Senior-level,NaN,"AWS,Azure,Computer Science,Engineering,Flink,GCP","Career development,Competitive pay,Equity,Heal..."
473,Publicis Groupe,Data Analytics Intern - Le Cubs 2023,"Sandton, South Africa",Internship,Entry-level,NaN,"APIs,Data analysis,Data Analytics,Power BI,Uns...","Career development,Equity,Startup environment,..."
500,ServiceNow,"Staff Data Analyst, Product Analytics","San Diego, California, United States",Full Time,Senior-level,NaN,"Business Intelligence,Computer Science,Data an...","401(k) matching,Career development,Competitive..."
505,Asana,"Data Science Director, Adoption & Enterprise",San Francisco,Full Time,Executive-level,NaN,"Causal inference,Computer Science,Data analysi...","Career development,Equity,Startup environment,,"
514,Vention,Robotics Software Developer Intern Fall 2023,"Montréal, QC, Canada",Internship,Entry-level,NaN,"Distributed Systems,Industrial,JavaScript,Pyth...","Startup environment,,,,"
519,Truveta,ML PhD Intern - LLMs & Generative AI,"Seattle, WA",Internship,Entry-level,NaN,"Architecture,Big Data,Computer Science,Data an...","Career development,Competitive pay,,,"
522,ChargePoint,Data Science Intern,"Campbell, CA",Internship,Entry-level,NaN,"AWS,Big Data,Business Intelligence,Data analys...","Career development,Equity,Gear,,"
538,Evolution,Business Intelligence Data Analyst,"Riga, Latvia",Full Time,Entry-level,NaN,"Athena,AWS,Big Data,Business Intelligence,Data...","Career development,,,,"
539,Bosch Group,Machine Learning for Natural Language Processi...,"Sunnyvale, CA, United States",Internship,Entry-level,NaN,"Autonomous Driving,Big Data,Circuit Design,Com...","Conferences,,,,"
552,Avery Dennison,Internship: Business Intelligence and Finance ...,"Oegstgeest, Netherlands",Part Time,Entry-level,NaN,"Business Intelligence,E-commerce,Economics,Exc...","Career development,Startup environment,,,"
575,Delta assurances,Data Analyst Junior F/H,"Marseille, France",Full Time,Entry-level,NaN,"Big Data,Excel,MySQL,,,",",,,,"
578,Scale AI,Foundation Models Lead,San Francisco or Remote,Full Time,Senior-level,NaN,"AWS,Computer Vision,Deep Learning,GCP,Machine ...","Career development,Conferences,Equity,Health c..."
580,Alter Solutions,Consultant Big Data & Machine Learning,"Paris, France",Full Time,Senior-level,NaN,"Azure,Big Data,CSV,Databricks,DevOps,Engineering",",,,,"
669,bunq,Data Science Intern - Large Language Models,"Amsterdam, Noord-Holland, Netherlands",Internship,Entry-level,NaN,"Engineering,FinTech,LLMs,NLP,,","Career development,,,,"
705,Cruise LLC,"Staff Software Engineer, Machine Learning Infr...","San Francisco, CA",Full Time,Senior-level,NaN,"Computer Science,Data Mining,Distributed Syste...","Career development,Competitive pay,Equity,Fert..."
714,Netflix,Machine Learning Scientist (L6) - Product,"Los Gatos, California",Full Time,Senior-level,NaN,"Computer Science,Engineering,Machine Learning,...",",,,,"
747,Roblox,"Technical Director, Machine Learning (Individu...","San Mateo, CA, United States",Full Time,Executive-level,NaN,"Architecture,Deep Learning,Distributed Systems...","Career development,Equity,Flex hours,Flex vaca..."
765,OpenAI,"Engineering Manager, ChatGPT for Business","San Francisco, California, United States",Full Time,Senior-level,NaN,"ChatGPT,Engineering,GPT,Kubernetes,OpenAI,Privacy","Career development,Competitive pay,Equity,Flex..."
779,Metiora,Data Scientist Intern,"Madrid, Spain",Full Time,Entry-level,NaN,"Deep Learning,Machine Learning,Matplotlib,Mong...",",,,,"
787,Dynatrace,Senior Researcher (PostDoc) for Big Data Proce...,"Linz, Vienna, Hagenberg, Austria",Full Time,Senior-level,NaN,"Architecture,Big Data,Computer Science,Data an...","Career development,Conferences,Equity,Flex vac..."
797,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,",",,,,"
810,Wunderman Thompson Commerce,Internship - Data Analyst,"Senningerberg, Luxembourg, Luxembourg",Internship,Entry-level,NaN,"BigQuery,Business Analytics,Consulting,Data an...","Career development,Startup environment,,,"
813,Helloprint,Prompt Engineering Internship,"Valencia, Comunidad Valenciana, Spain",Internship,Entry-level,NaN,"Computer Science,CX,E-commerce,Engineering,GPT...",",,,,"

On se rend compte que les valeurs manquantes ne sont pas toutes dépourvues de sens. En fait, les stagiaires n'ont pas forcément un salaire. Ce qui est logique. Donc, nous remplaceront les valeurs manquantes de la colonne Salary par 0 si Job Type = Internship et Experience level = Entry-level. Dans le cas où Job Type ne correspond pas à un stagiaire, il se peut que très probablment, l'employé soit en négociation. Donc nous allons séparer les données des employés non stagiaires qui n'ont pas de salaire. Mais nous allons remplacer finalement toutes les valeurs manquantes par 0 parce que cela n'affectera pas la visualisation.

In [12]:
data["Salary"] = data["Salary"].fillna(0)
data["Salary"].isna().sum()

0

Les valeurs manquantes dans la colonne Salary sont désormais gérées. Il reste à uniformiser les dévises

In [13]:
# data.loc[data["Salary"] == 0]
data["Salary"].unique()

array([' 48K+ *', ' 90K+ *', ' 108K+', ' 184K+', ' 39K+ *', 0, ' 140K+',
       ' 40K+ *', ' 80K+ *', ' 35K+ *', ' 62K+ *', ' 159K+', ' 97K+',
       ' 92K+ *', ' 129K+ *', ' 115K+ *', ' 44K+ *', ' 73K+ *', ' 59K+ *',
       ' 106K+', ' 105K+ *', ' 55K+ *', ' 110K+ *', ' 63K+ *', ' 49K+ *',
       ' 180K+', ' 127K+', ' 60K+', ' 45K+ *', ' 135K+', ' 69K+ *',
       ' 176K+', ' 65K+ *', ' 51K+ *', ' 67K+', ' 104K+', ' 105K+',
       ' 166K+', ' 131K+ *', ' 115K+', ' 43K+', ' 81K+ *', ' 96K+ *',
       ' 56K+ *', ' 130K+', ' 131K+', ' 50K+ *', ' 100K+', ' 60K+ *',
       ' 52K+', ' 135K+ *', ' 76K+', ' 172K+', ' 119K+', ' 125K+',
       ' 116K+', ' 77K+ *', ' 74K+ *', ' 70K+ *', ' 120K+', ' 189K+',
       ' 149K+', ' 110K+', ' 90K+', ' 30K+ *', ' 167K+', ' 236K+',
       ' 179K+', ' 80K+', ' 200K+', ' 139K+', ' 129K+', ' 113K+',
       ' 150K+', ' 158K+', ' 40K+', ' 184K+ *', ' 133K+', ' 78K+',
       ' 36K+ *', ' 122K+ *', ' 81K+', ' 59K+', 'EUR 81K', ' 190K+',
       ' 72K+', ' 136K+', ' 102K+ *', ' 31K+ *', ' 89K+ *', ' 156K+',
       ' 107K+', ' 199K+', ' 224K+', ' 142K+', 'GBP 35K', ' 183K+',
       ' 164K+', 'EUR 130K+', ' 174K+', ' 84K+', ' 79K+', ' 103K+ *',
       ' 143K+', ' 175K+', ' 170K+', ' 141K+ *', ' 283K+', ' 151K+',
       ' 111K+', ' 51K+', ' 96K+', ' 148K+', ' 204K+', ' 202K+', ' 295K+',
       ' 68K+', ' 195K+', ' 145K+', ' 50K+', ' 267K+', ' 200K+ *',
       ' 109K+ *', ' 310K+', ' 153K+', ' 154K+', ' 86K+', ' 70K+',
       ' 207K+', ' 85K+', ' 66K+', ' 315K+', ' 160K+', ' 66K+ *',
       ' 144K+', ' 245K+', ' 126K+', ' 63K+', ' 182K+', ' 157K+',
       ' 214K+', ' 173K+', 'EUR 80K+', ' 120K+ *', 'EUR 36K+', 'EUR 60K+',
       'GBP 42K+', ' 112K+', ' 124K+', ' 185K+', ' 147K+', ' 122K+',
       'GBP 80K+', ' 144K+ *', ' 146K+', ' 165K+', ' 75K+', ' 163K+',
       ' 193K+', ' 109K+', 'GBP 60K+', ' 218K+', ' 230K+', ' 168K+',
       ' 134K+', ' 225K+', ' 253K+', ' 83K+', ' 235K+', ' 187K+',
       ' 227K+', ' 73K+', ' 61K+ *', ' 171K+', ' 234K+', 'GBP 45K+',
       ' 155K+', ' 71K+', ' 94K+', ' 57K+ *', ' 197K+', ' 102K+', ' 82K+',
       ' 177K+', 'GBP 50K+', ' 93K+', ' 55K+', ' 121K+', ' 42K+ *',
       ' 45K+', ' 75K+ *', ' 152K+', ' 161K+', ' 155K+ *', ' 132K+',
       'GBP 55K+', ' 138K+', ' 196K+', ' 205K+', 'GBP 65K+', ' 178K+',
       ' 95K+', ' 33K+ *', ' 54K+ *', ' 98K+', ' 141K+', ' 95K+ *',
       ' 65K+', 'GBP 55K', ' 99K+', ' 220K+', ' 74K+', ' 103K+',
       ' 100K+ *', 'GBP 51K+', ' 128K+', 'GBP 54K+', ' 123K+', ' 117K+'],
      dtype=object)

In [14]:
for salary in data["Salary"]:
    print(salary)

 48K+ *
 48K+ *
 90K+ *
 48K+ *
 108K+
 184K+
 39K+ *
0
0
 140K+
 40K+ *
 80K+ *
 35K+ *
 62K+ *
 39K+ *
 159K+
 97K+
 92K+ *
 48K+ *
 129K+ *
 92K+ *
 115K+ *
 39K+ *
 44K+ *
 73K+ *
 40K+ *
 59K+ *
 106K+
 129K+ *
 92K+ *
 105K+ *
 55K+ *
 115K+ *
 110K+ *
 140K+
 129K+ *
 63K+ *
 49K+ *
 180K+
0
 115K+ *
 62K+ *
 73K+ *
 127K+
0
 60K+
 129K+ *
 92K+ *
 45K+ *
 115K+ *
 135K+
 69K+ *
 129K+ *
 176K+
 65K+ *
 40K+ *
 62K+ *
 48K+ *
 51K+ *
 67K+
 104K+
 92K+ *
 69K+ *
 73K+ *
 115K+ *
 105K+
 51K+ *
 166K+
 62K+ *
 80K+ *
 131K+ *
 62K+ *
 115K+
 69K+ *
 129K+ *
0
 40K+ *
 65K+ *
 43K+
 92K+ *
 45K+ *
 81K+ *
 35K+ *
 69K+ *
 92K+ *
 62K+ *
 65K+ *
0
 115K+ *
 69K+ *
 140K+
 65K+ *
 69K+ *
 96K+ *
 39K+ *
 69K+ *
 56K+ *
 39K+ *
 131K+ *
 62K+ *
 115K+ *
 115K+ *
 130K+
 73K+ *
 92K+ *
 131K+
 44K+ *
 115K+ *
 73K+ *
 50K+ *
 48K+ *
 59K+ *
 100K+
 129K+ *
 60K+ *
 52K+
 62K+ *
 135K+ *
 76K+
 129K+ *
 73K+ *
 92K+ *
 129K+ *
 62K+ *
 50K+ *
 172K+
 119K+
 125K+
 92K+ *
 116K+
 77K+ *
 74K+ *
 70K+ *
 120K+
 115K+ *
 115K+ *
 65K+ *
 59K+ *
 73K+ *
 92K+ *
 51K+ *
 62K+ *
 115K+ *
 69K+ *
 55K+ *
 48K+ *
 115K+ *
 92K+ *
 50K+ *
 69K+ *
 176K+
 40K+ *
 189K+
 39K+ *
 149K+
 92K+ *
 130K+
 48K+ *
 110K+
 115K+ *
 131K+ *
 40K+ *
 69K+ *
 62K+ *
 90K+
 51K+ *
 110K+ *
0
 120K+
0
 73K+ *
 115K+ *
 39K+ *
 92K+ *
 131K+ *
 49K+ *
 105K+ *
 115K+ *
 30K+ *
 131K+ *
 115K+ *
 81K+ *
 35K+ *
 167K+
 236K+
 129K+ *
 115K+ *
 92K+ *
 77K+ *
 62K+ *
 50K+ *
 69K+ *
 40K+ *
 51K+ *
 131K+ *
 62K+ *
 35K+ *
 135K+ *
 65K+ *
 81K+ *
0
 179K+
 100K+
 35K+ *
 56K+ *
 92K+ *
 80K+
0
 49K+ *
 167K+
 200K+
 30K+ *
0
 30K+ *
 30K+ *
 73K+ *
0
 73K+ *
 48K+ *
 115K+ *
 62K+ *
 139K+
 129K+
 113K+
 59K+ *
 81K+ *
 150K+
 39K+ *
 45K+ *
 158K+
 96K+ *
 55K+ *
 40K+
 184K+ *
 100K+
 129K+ *
 96K+ *
 55K+ *
 40K+ *
 129K+ *
 92K+ *
 51K+ *
 81K+ *
 115K+ *
 48K+ *
 65K+ *
 73K+ *
 50K+ *
 60K+ *
 129K+ *
 55K+ *
 44K+ *
 115K+ *
 133K+
 120K+
 73K+ *
 129K+ *
 131K+ *
 115K+ *
 55K+ *
 70K+ *
 81K+ *
 129K+ *
 104K+
 92K+ *
 62K+ *
 105K+ *
 50K+ *
 55K+ *
 115K+ *
 135K+ *
 69K+ *
 50K+ *
0
 51K+ *
 51K+ *
 78K+
 73K+ *
 80K+ *
 55K+ *
 73K+ *
 77K+ *
 92K+ *
 48K+ *
 62K+ *
 36K+ *
 40K+ *
 56K+ *
 96K+ *
 48K+ *
 129K+ *
 56K+ *
 115K+ *
 105K+
 60K+ *
 92K+ *
 48K+ *
 115K+ *
0
 80K+ *
 96K+ *
0
 51K+ *
 69K+ *
 115K+ *
 122K+ *
 48K+ *
 62K+ *
 92K+ *
 69K+ *
 131K+ *
 120K+
 184K+ *
 81K+
 115K+ *
 40K+ *
0
 115K+ *
 39K+ *
 59K+
 55K+ *
 62K+ *
 59K+ *
EUR 81K
 48K+ *
 105K+ *
 115K+ *
0
0
 92K+ *
 55K+ *
 62K+ *
 130K+
0
 49K+ *
 55K+ *
 130K+
 73K+ *
 62K+ *
 69K+ *
 129K+ *
 190K+
 62K+ *
 72K+
 129K+ *
 62K+ *
 92K+ *
 59K+ *
 56K+ *
 45K+ *
0
 92K+ *
0
 45K+ *
 92K+ *
 136K+
 115K+ *
 129K+ *
 131K+ *
 115K+ *
 40K+ *
 73K+ *
 62K+ *
 49K+ *
 69K+ *
 73K+ *
 62K+ *
 102K+ *
 51K+ *
0
 65K+ *
 31K+ *
 56K+ *
 131K+ *
 65K+ *
 89K+ *
 190K+
 92K+ *
 73K+ *
 115K+ *
 115K+ *
 115K+ *
 92K+ *
 69K+ *
 139K+
 135K+ *
 45K+ *
 115K+ *
 89K+ *
 156K+
 92K+ *
 35K+ *
 62K+ *
 110K+ *
 73K+ *
 80K+ *
 92K+ *
 62K+ *
 39K+ *
 92K+ *
 40K+ *
 70K+ *
 62K+ *
 130K+
 62K+ *
 92K+ *
 100K+
 50K+ *
 45K+ *
 172K+
0
 77K+ *
 40K+ *
0
 80K+ *
 92K+ *
 131K+ *
0
 92K+ *
 80K+ *
 48K+ *
 110K+ *
0
 107K+
 131K+ *
 115K+ *
 115K+ *
 73K+ *
0
 199K+
 62K+ *
 51K+ *
 51K+ *
 59K+ *
 62K+ *
 48K+ *
 73K+ *
 135K+ *
 80K+ *
 120K+
 224K+
 51K+ *
 115K+ *
 36K+ *
 39K+ *
 55K+ *
 62K+ *
 142K+
GBP 35K
 183K+
 77K+ *
 56K+ *
0
 40K+ *
 164K+
EUR 130K+
 69K+ *
 92K+ *
 62K+ *
 69K+ *
 174K+
 92K+ *
 84K+
 62K+ *
 56K+ *
 80K+
 50K+ *
 62K+ *
 35K+ *
 60K+ *
 48K+ *
 55K+ *
0
 92K+ *
 60K+ *
 115K+ *
 62K+ *
 100K+
 63K+ *
 55K+ *
 45K+ *
 55K+ *
 79K+
 92K+ *
 96K+ *
 55K+ *
 65K+ *
 50K+ *
 48K+ *
 133K+
 62K+ *
 50K+ *
 35K+ *
 73K+ *
 65K+ *
 48K+ *
 131K+ *
 69K+ *
 39K+ *
0
 135K+
 103K+ *
 81K+ *
 143K+
0
 69K+ *
 69K+ *
 129K+ *
 56K+ *
 73K+ *
 51K+ *
 55K+ *
 65K+ *
0
 135K+ *
 84K+
 73K+ *
 115K+ *
0
 48K+ *
 51K+ *
0
 60K+ *
 48K+ *
 55K+ *
 90K+ *
 62K+ *
 73K+ *
 59K+ *
 73K+ *
 73K+ *
 129K+ *
 129K+ *
 62K+ *
 45K+ *
 129K+ *
 62K+ *
0
0
 60K+ *
 44K+ *
 55K+ *
 175K+
 104K+
 62K+ *
 45K+ *
 115K+ *
 200K+
 40K+ *
 40K+
 170K+
0
 73K+ *
 102K+ *
 30K+ *
 92K+ *
 131K+ *
 62K+ *
 65K+ *
 115K+ *
 129K+ *
 176K+
 44K+ *
 129K+ *
 69K+ *
 39K+ *
 129K+ *
 40K+ *
 63K+ *
 52K+
 96K+ *
 56K+ *
 62K+ *
 115K+ *
0
 164K+
 77K+ *
0
 74K+ *
0
 129K+ *
 60K+ *
 62K+ *
 184K+ *
 141K+ *
 92K+ *
 92K+ *
 62K+ *
 135K+
 129K+ *
 62K+ *
 65K+ *
 62K+ *
 92K+ *
 90K+ *
 283K+
 56K+ *
 129K+ *
 81K+ *
 48K+ *
 72K+
 59K+ *
 200K+
 115K+ *
 151K+
 62K+ *
 39K+ *
 131K+ *
 90K+ *
 105K+ *
 73K+ *
 151K+
 40K+ *
 111K+
 92K+ *
 77K+ *
 62K+ *
 115K+ *
 115K+ *
 115K+ *
 51K+ *
 48K+ *
 62K+ *
 150K+
 55K+ *
 62K+ *
 92K+ *
 81K+
 48K+ *
 129K+ *
 150K+
 135K+ *
 92K+ *
 69K+ *
 135K+ *
 92K+ *
 69K+ *
 92K+ *
 69K+ *
 51K+
 135K+ *
 50K+ *
 130K+
 140K+
 39K+ *
 35K+ *
 55K+ *
 62K+ *
 92K+ *
 131K+ *
 73K+ *
 48K+ *
 115K+ *
 44K+ *
 92K+ *
 62K+ *
 49K+ *
 129K+ *
 35K+ *
 96K+
 120K+
 48K+ *
 148K+
 65K+ *
 283K+
 56K+ *
 69K+ *
 204K+
0
 115K+ *
 69K+ *
 69K+ *
 62K+ *
 115K+ *
 70K+ *
 77K+ *
 56K+ *
 39K+ *
 106K+
 62K+ *
 39K+ *
 59K+ *
 96K+
 202K+
 51K+ *
 142K+
 92K+ *
 295K+
 200K+
 140K+
 59K+ *
 74K+ *
 45K+ *
 184K+
 68K+
 52K+
 92K+ *
 62K+ *
 48K+ *
 60K+ *
 49K+ *
 51K+ *
 30K+ *
0
 63K+ *
 77K+ *
 184K+ *
 35K+ *
 131K+ *
 65K+ *
 62K+ *
 50K+ *
0
 39K+ *
 92K+ *
 65K+ *
 142K+
 69K+ *
 283K+
 195K+
 39K+ *
 62K+ *
 39K+ *
 39K+ *
 56K+ *
 170K+
 62K+ *
 142K+
 145K+
 139K+
 283K+
 50K+
 115K+ *
 115K+ *
 267K+
 50K+ *
 49K+ *
 110K+
 56K+ *
 129K+ *
 125K+
 115K+
 283K+
 115K+ *
 51K+ *
0
 159K+
 55K+ *
 131K+ *
 131K+ *
 80K+ *
 130K+
 115K+ *
 48K+ *
 131K+ *
 40K+ *
 74K+ *
 69K+ *
 50K+ *
 73K+ *
 55K+ *
 51K+ *
 55K+ *
0
 200K+ *
 56K+ *
 89K+ *
 115K+ *
 148K+
 115K+ *
 109K+ *
 73K+ *
 56K+ *
 63K+ *
 73K+ *
 69K+ *
 115K+ *
0
 51K+ *
 60K+ *
 62K+ *
 51K+ *
 73K+ *
 295K+
 115K+ *
0
 136K+
 310K+
 39K+ *
 115K+ *
 102K+ *
 81K+ *
 89K+ *
 62K+ *
 69K+ *
0
 73K+ *
 153K+
 115K+ *
 39K+ *
 154K+
 129K+ *
 55K+ *
 150K+
 115K+ *
 110K+ *
0
 86K+
 51K+ *
0
 70K+ *
 51K+ *
 51K+ *
 115K+ *
 200K+ *
 73K+ *
 44K+ *
 110K+
 50K+ *
 129K+ *
 65K+ *
 70K+
 131K+
 56K+ *
 65K+ *
 102K+ *
 62K+ *
 131K+ *
 63K+ *
 39K+ *
 92K+ *
 207K+
 80K+ *
 136K+
 85K+
 92K+ *
0
 69K+ *
 115K+ *
 97K+
 70K+ *
 73K+ *
 73K+ *
 69K+ *
 65K+ *
 66K+
 92K+ *
0
 62K+ *
 103K+ *
 79K+
 89K+ *
 62K+ *
 150K+
 200K+
 115K+ *
0
 315K+
0
 55K+ *
 160K+
 129K+ *
 172K+
 48K+ *
 48K+ *
 113K+
 63K+ *
0
 55K+ *
 69K+ *
 55K+ *
 78K+
 92K+ *
 73K+ *
 66K+ *
 40K+ *
 115K+ *
 129K+ *
 92K+ *
 55K+ *
 115K+ *
 35K+ *
 142K+
 50K+ *
 115K+ *
 73K+ *
 55K+ *
 131K+ *
 115K+ *
 100K+
 73K+ *
 65K+ *
 30K+ *
 267K+
 73K+ *
 48K+ *
 55K+ *
0
 45K+ *
 73K+ *
 49K+ *
 115K+ *
 45K+ *
 151K+
 110K+ *
 62K+ *
 63K+ *
 39K+ *
 115K+ *
 40K+ *
 115K+ *
 59K+ *
 92K+ *
 39K+ *
 56K+ *
 73K+ *
 30K+ *
 144K+
 131K+ *
 140K+
 115K+ *
 245K+
 69K+ *
 62K+ *
 175K+
 102K+ *
 119K+
 115K+ *
 110K+ *
 62K+ *
 65K+ *
 224K+
 92K+ *
 160K+
 159K+
 189K+
 39K+ *
 126K+
 63K+ *
 92K+ *
 62K+ *
 60K+
 65K+ *
 44K+ *
 129K+ *
 92K+ *
 30K+ *
 136K+
 65K+ *
 69K+ *
 69K+ *
 35K+ *
 63K+
 69K+ *
 62K+ *
 115K+ *
 115K+ *
 135K+ *
0
 129K+ *
 55K+ *
 48K+ *
 105K+
 139K+
 62K+ *
 59K+ *
 131K+ *
 73K+ *
 62K+ *
 90K+
 200K+ *
 56K+ *
 96K+ *
 92K+ *
 92K+ *
 129K+ *
 62K+ *
 39K+ *
 182K+
 39K+ *
 69K+ *
 131K+ *
 62K+ *
 44K+ *
 150K+
 92K+ *
 115K+ *
 159K+
 55K+ *
 184K+ *
 70K+ *
 115K+ *
 40K+ *
 69K+ *
 60K+ *
 136K+
 157K+
 35K+ *
 115K+ *
 156K+
0
 110K+
 69K+ *
 105K+ *
 214K+
 115K+ *
 129K+ *
 56K+ *
 129K+ *
 129K+ *
 167K+
 115K+ *
 65K+ *
 62K+ *
 56K+ *
 60K+ *
 65K+ *
 167K+
 65K+ *
 115K+ *
 173K+
 39K+ *
 73K+ *
 115K+ *
 92K+ *
 74K+ *
 48K+ *
 184K+
 115K+ *
 92K+ *
 62K+ *
 92K+ *
 73K+ *
 92K+ *
 45K+ *
 96K+ *
 49K+ *
EUR 80K+
 92K+ *
 65K+ *
 69K+ *
 110K+ *
 72K+
 200K+
 73K+ *
 69K+ *
 92K+ *
 102K+ *
 35K+ *
 115K+ *
 30K+ *
 40K+ *
 55K+ *
 48K+ *
 129K+ *
 65K+ *
 59K+ *
 115K+ *
 39K+ *
 156K+
 62K+ *
 129K+ *
 30K+ *
 173K+
 62K+ *
 70K+
 78K+
 48K+ *
 167K+
 35K+ *
 56K+ *
 120K+ *
 135K+ *
 110K+ *
 73K+ *
 115K+ *
EUR 36K+
 65K+ *
 62K+ *
 48K+ *
 59K+ *
 115K+ *
 131K+ *
 55K+ *
 56K+ *
 55K+ *
 115K+ *
 167K+
 190K+
 70K+ *
 92K+ *
 115K+ *
EUR 60K+
GBP 42K+
 55K+ *
 131K+ *
 129K+ *
 119K+
 105K+
 63K+ *
 96K+ *
0
 96K+ *
 129K+ *
 110K+ *
 129K+ *
 119K+
 69K+ *
 150K+
 40K+ *
 45K+ *
 62K+ *
 97K+
 65K+ *
 129K+ *
 115K+ *
0
 200K+
0
 63K+ *
 69K+ *
 59K+ *
 115K+ *
 136K+
 74K+ *
 69K+ *
 148K+
 130K+
 103K+ *
0
 92K+ *
 69K+ *
 110K+ *
 45K+ *
 129K+ *
 73K+ *
0
 35K+ *
 74K+ *
 69K+ *
 92K+ *
 112K+
 131K+ *
 51K+ *
0
 51K+ *
0
 65K+ *
 55K+ *
 115K+ *
 77K+ *
 124K+
 69K+ *
 110K+ *
 130K+
 140K+
 167K+
 148K+
 69K+ *
 185K+
 69K+ *
0
 69K+ *
 96K+ *
 55K+ *
 129K+ *
 129K+ *
 48K+ *
 81K+ *
0
 59K+ *
 52K+
 62K+ *
 48K+ *
 106K+
 147K+
 59K+ *
 115K+ *
 55K+ *
 115K+ *
 39K+ *
 77K+ *
 81K+ *
 84K+
 131K+ *
 135K+ *
 55K+ *
 39K+ *
 92K+ *
 129K+ *
 62K+ *
 167K+
 59K+ *
0
 39K+ *
 92K+ *
 100K+
 69K+ *
 129K+ *
 144K+
0
 115K+ *
 122K+
 55K+ *
0
 48K+ *
 105K+ *
 129K+ *
 130K+
 48K+ *
 60K+ *
GBP 80K+
 115K+ *
 139K+
 40K+ *
 55K+ *
 69K+ *
 65K+ *
 115K+ *
 55K+ *
 129K+
 92K+ *
 70K+ *
 81K+
 70K+ *
 131K+ *
 100K+
 115K+ *
 115K+ *
 44K+ *
 69K+ *
 92K+ *
 144K+ *
 66K+ *
 73K+ *
 65K+ *
 167K+
 70K+
 62K+ *
 69K+ *
0
 39K+ *
 129K+ *
 92K+ *
 48K+ *
EUR 36K+
 62K+ *
 69K+ *
 55K+ *
 74K+ *
 73K+ *
 62K+ *
 146K+
 48K+ *
 129K+ *
0
 62K+ *
 92K+ *
 55K+ *
 55K+ *
 74K+ *
 70K+ *
 48K+ *
 48K+ *
 96K+ *
 39K+ *
 131K+ *
 129K+ *
0
0
 129K+
 77K+ *
 142K+
 40K+ *
 131K+ *
 135K+ *
 56K+ *
 144K+ *
 131K+ *
 103K+ *
 165K+
 115K+ *
 92K+ *
0
 115K+ *
 39K+ *
 131K+ *
 48K+ *
 120K+ *
0
 92K+ *
 60K+ *
 129K+
 49K+ *
 60K+ *
 62K+ *
 166K+
 115K+ *
 55K+ *
 69K+ *
 73K+ *
 59K+ *
 30K+ *
0
 81K+
 90K+
 106K+
 115K+ *
 65K+ *
 75K+
 56K+ *
 75K+
 73K+ *
 115K+ *
 110K+
 63K+ *
 62K+ *
 62K+ *
 60K+ *
 163K+
 110K+ *
 80K+ *
 69K+ *
0
 55K+ *
 129K+ *
 73K+ *
 92K+ *
 96K+ *
 69K+ *
 135K+ *
0
 92K+ *
 73K+ *
 44K+ *
 70K+ *
 40K+ *
 92K+ *
 100K+
 193K+
 129K+ *
 109K+
 131K+ *
GBP 60K+
 92K+ *
 44K+ *
 60K+ *
 48K+ *
 218K+
 60K+ *
 62K+ *
 55K+ *
 180K+
 73K+ *
 159K+
 200K+
 115K+ *
0
 230K+
 55K+ *
 55K+ *
0
 131K+ *
 40K+ *
 40K+
 69K+ *
 102K+ *
 51K+ *
 40K+ *
 115K+ *
 96K+ *
 115K+ *
 135K+ *
 40K+ *
 65K+ *
 85K+
 168K+
 134K+
 55K+ *
 115K+ *
 60K+
 62K+ *
 115K+ *
 50K+ *
 115K+ *
 56K+ *
 50K+ *
 96K+ *
 50K+ *
 69K+ *
 48K+ *
 65K+ *
 48K+ *
 69K+ *
 69K+ *
 115K+ *
 142K+
 62K+ *
0
 60K+ *
 129K+ *
 135K+ *
 80K+ *
 39K+ *
 145K+
 133K+
 225K+
 69K+ *
 185K+
 55K+ *
 129K+ *
 48K+ *
 103K+ *
EUR 60K+
0
 73K+ *
 113K+
 50K+
 184K+
 70K+
 147K+
 129K+ *
 55K+ *
 193K+
 73K+ *
 131K+ *
 104K+
 51K+ *
 92K+ *
 51K+ *
 51K+ *
 144K+ *
 253K+
 69K+ *
 110K+ *
 115K+ *
 85K+
 44K+ *
 115K+ *
 129K+ *
 80K+ *
 45K+ *
 59K+ *
 129K+ *
 115K+ *
 55K+ *
 56K+ *
 62K+ *
 39K+ *
 55K+ *
 96K+ *
 184K+ *
 129K+ *
 105K+ *
 129K+ *
 44K+ *
 83K+
 45K+ *
 235K+
 62K+ *
 96K+ *
 45K+ *
 75K+
 69K+ *
 135K+ *
 55K+ *
 175K+
0
 56K+ *
 55K+ *
0
 110K+
 135K+
 69K+ *
 96K+ *
 55K+ *
 55K+ *
 62K+ *
 129K+ *
 103K+ *
 127K+
 56K+ *
 136K+
 129K+ *
 115K+ *
 55K+ *
 55K+ *
 73K+ *
 56K+ *
 129K+ *
 175K+
 55K+ *
 30K+ *
 127K+
 142K+
 187K+
 160K+
 74K+ *
 129K+ *
 227K+
 92K+ *
 92K+ *
 131K+ *
 62K+ *
 73K+ *
 129K+ *
 103K+ *
 55K+ *
 166K+
 92K+ *
 51K+ *
 129K+ *
 131K+ *
 144K+
 129K+ *
 30K+ *
 160K+
0
 131K+ *
 115K+ *
 39K+ *
 48K+ *
 131K+ *
 51K+ *
 56K+ *
 65K+ *
 92K+ *
 56K+ *
 144K+ *
 65K+ *
 51K+ *
 80K+ *
 115K+ *
 69K+ *
 129K+ *
 129K+ *
 73K+ *
 115K+ *
 55K+ *
 74K+ *
 129K+
 56K+ *
 35K+ *
 129K+ *
 40K+ *
 62K+ *
 70K+ *
 35K+ *
 62K+ *
 63K+ *
 145K+
 142K+
 56K+ *
 73K+ *
0
 62K+ *
 92K+ *
 73K+ *
 63K+ *
0
 48K+ *
 115K+ *
 73K+ *
0
 73K+ *
 129K+ *
 73K+
 92K+ *
 129K+ *
 92K+ *
 62K+ *
 92K+ *
0
 110K+ *
 65K+ *
 62K+ *
 62K+ *
 51K+ *
 45K+ *
0
 129K+ *
 62K+ *
0
 184K+
 45K+ *
 56K+ *
 59K+ *
 74K+ *
 62K+ *
 39K+ *
 48K+ *
 48K+ *
 31K+ *
 74K+ *
 61K+ *
 129K+ *
 69K+ *
 60K+ *
 65K+ *
 55K+ *
 89K+ *
 131K+
 131K+ *
 115K+ *
 115K+ *
 171K+
 96K+ *
 62K+ *
0
 70K+
 80K+ *
0
0
 129K+ *
 48K+ *
 92K+ *
 131K+ *
 59K+ *
 51K+ *
 115K+ *
 129K+ *
 234K+
 115K+ *
0
0
 69K+ *
 55K+ *
 92K+ *
 50K+ *
 63K+ *
 166K+
 73K+ *
0
 69K+ *
0
 69K+ *
 115K+ *
 115K+ *
 163K+
 115K+ *
 39K+ *
 115K+ *
 129K+ *
 55K+ *
 135K+ *
 59K+ *
 129K+ *
 166K+
 62K+ *
 55K+ *
 163K+
 92K+ *
 69K+ *
 60K+ *
 30K+ *
 115K+ *
 73K+ *
 193K+
 69K+ *
 115K+ *
 245K+
 108K+
 55K+ *
 151K+
 51K+ *
 92K+ *
 62K+ *
 115K+ *
 56K+ *
 73K+ *
 92K+ *
 55K+ *
 103K+ *
GBP 45K+
 35K+ *
 131K+
 77K+ *
 69K+ *
 73K+ *
 69K+ *
 105K+ *
 129K+ *
 92K+ *
 59K+ *
 115K+ *
0
0
 59K+ *
 40K+ *
 129K+ *
 96K+ *
 77K+ *
 105K+ *
 62K+ *
 89K+ *
 50K+ *
 76K+
 135K+ *
 69K+ *
 115K+ *
 129K+ *
 141K+ *
 102K+ *
 63K+ *
 155K+
 62K+ *
 55K+ *
 48K+ *
 115K+ *
0
 131K+ *
 73K+ *
 131K+ *
 200K+
 183K+
 56K+ *
 60K+ *
 115K+ *
 52K+
 92K+ *
 115K+ *
0
 62K+ *
 56K+ *
 48K+ *
 135K+ *
 55K+ *
 55K+ *
 81K+
 63K+ *
 135K+ *
 50K+ *
 129K+ *
 245K+
 129K+ *
 189K+
 55K+ *
 62K+ *
 131K+
 56K+ *
 135K+ *
 115K+ *
 147K+
 62K+ *
 55K+ *
 62K+ *
 170K+
 56K+ *
 92K+ *
 144K+ *
 49K+ *
 59K+ *
 49K+ *
 130K+
 115K+ *
 110K+ *
 62K+ *
 131K+ *
 52K+
 159K+
 115K+ *
 92K+ *
 62K+ *
 142K+
 129K+
 73K+ *
 131K+ *
 79K+
 151K+
 39K+ *
 115K+ *
 48K+ *
 45K+ *
0
0
 48K+ *
 119K+
 69K+ *
 49K+ *
 35K+ *
 65K+ *
0
 92K+ *
 142K+
 49K+ *
 115K+ *
 35K+ *
 62K+ *
 80K+ *
 70K+ *
 119K+
 129K+ *
 48K+ *
 62K+ *
 147K+
 160K+
 115K+ *
 130K+
 56K+ *
 135K+ *
 65K+ *
 65K+ *
 70K+ *
 65K+ *
 55K+ *
 92K+ *
 147K+
0
 115K+ *
 140K+
 115K+ *
 115K+ *
 105K+ *
 62K+ *
 84K+
 55K+ *
 40K+ *
 125K+
 130K+
 40K+ *
 175K+
 135K+ *
 74K+ *
 129K+ *
 115K+ *
0
 60K+ *
0
 55K+ *
 56K+ *
 39K+ *
0
 92K+ *
 62K+ *
 73K+ *
 49K+ *
 55K+ *
 129K+ *
 131K+ *
 56K+ *
 39K+ *
 144K+ *
0
 39K+ *
 129K+ *
 115K+ *
 50K+ *
 115K+ *
 110K+ *
 103K+ *
 69K+ *
 200K+ *
 45K+ *
0
 55K+ *
 73K+ *
 92K+ *
0
 48K+ *
 59K+ *
 77K+ *
 90K+ *
 56K+ *
 129K+ *
 104K+
 115K+ *
 56K+ *
 56K+ *
 60K+
0
 163K+
 59K+ *
 71K+
 73K+ *
 65K+ *
 50K+ *
 35K+ *
 115K+ *
 129K+ *
 62K+ *
 125K+
 59K+ *
 48K+ *
0
 129K+ *
 129K+ *
 73K+ *
 62K+ *
 73K+ *
 92K+ *
 90K+
 94K+
 135K+ *
 55K+ *
0
 55K+ *
 175K+
 159K+
 131K+ *
 40K+ *
 62K+ *
 59K+ *
 92K+ *
 30K+ *
 129K+ *
 81K+
 62K+ *
 129K+ *
 140K+
 62K+ *
 31K+ *
 60K+
 69K+ *
 103K+ *
 57K+ *
 131K+ *
 39K+ *
 62K+ *
 129K+ *
 55K+ *
 129K+ *
 69K+ *
 187K+
 50K+ *
 115K+ *
 62K+ *
 136K+
0
 59K+ *
0
 65K+ *
 69K+ *
 113K+
 110K+ *
 92K+ *
 80K+ *
 197K+
 102K+
0
 80K+ *
 115K+ *
 159K+
0
 140K+
 55K+ *
 45K+ *
 92K+ *
 105K+
 51K+ *
 129K+ *
 78K+
 82K+
 77K+ *
 62K+ *
 30K+ *
 160K+
 131K+ *
 105K+ *
 129K+ *
 55K+ *
 62K+ *
 70K+ *
 81K+ *
 105K+ *
 92K+ *
 160K+
 62K+ *
 135K+ *
 69K+ *
 50K+ *
 73K+ *
 65K+ *
 77K+ *
 131K+ *
 129K+ *
 56K+ *
 65K+ *
 60K+ *
 110K+ *
 62K+ *
 55K+ *
 48K+ *
 51K+ *
 115K+ *
 92K+ *
 170K+
0
 56K+ *
 96K+ *
 60K+ *
 115K+ *
0
 62K+ *
 115K+ *
 129K+ *
 55K+ *
 55K+ *
 62K+ *
 73K+ *
 110K+
 62K+ *
 55K+ *
 129K+ *
 70K+ *
 135K+ *
 40K+ *
 69K+ *
 48K+ *
 39K+ *
 129K+ *
 73K+ *
 92K+ *
0
 135K+ *
 69K+ *
 92K+ *
 30K+ *
 115K+ *
 73K+ *
 62K+ *
 40K+ *
 49K+ *
 115K+ *
 48K+ *
 81K+ *
 60K+ *
 80K+ *
 73K+ *
 50K+
 55K+ *
 80K+ *
 77K+ *
 73K+ *
 136K+
 73K+ *
 92K+ *
 73K+ *
 48K+ *
 69K+ *
 70K+
 129K+ *
0
0
 115K+ *
 60K+ *
 129K+
 110K+ *
 172K+
 115K+ *
 185K+
 92K+ *
 65K+ *
 92K+ *
 92K+ *
0
 51K+ *
 55K+ *
 48K+ *
 81K+ *
 60K+ *
 177K+
 31K+ *
 65K+ *
 56K+ *
 65K+ *
 73K+ *
 129K+ *
 40K+ *
 74K+ *
 129K+ *
 56K+ *
 115K+ *
 62K+ *
 62K+ *
 104K+
0
GBP 50K+
 48K+ *
 80K+ *
 156K+
 129K+ *
 102K+ *
 30K+ *
 79K+
 70K+
 160K+
 62K+ *
 164K+
 92K+ *
 119K+
 69K+ *
 131K+ *
 235K+
 49K+ *
 55K+ *
 129K+ *
0
 62K+ *
0
 56K+ *
 30K+ *
 115K+ *
 70K+ *
 92K+ *
 108K+
 39K+ *
 48K+ *
 130K+
 103K+ *
 92K+ *
 30K+ *
 62K+ *
 93K+
 115K+ *
 73K+ *
 115K+ *
 62K+ *
 135K+ *
 130K+
 100K+
 80K+ *
 75K+
 69K+ *
 65K+ *
 92K+ *
 115K+ *
 69K+ *
0
 79K+
 131K+ *
 92K+ *
0
 135K+ *
 81K+ *
 156K+
 96K+ *
 81K+ *
 73K+ *
 92K+ *
 69K+ *
 48K+ *
 65K+ *
 115K+ *
 170K+
 35K+ *
 92K+ *
 92K+ *
 35K+ *
 104K+
 135K+ *
 62K+ *
 45K+ *
 51K+ *
 135K+ *
 69K+ *
 170K+
 55K+ *
 44K+ *
 115K+ *
 60K+ *
 73K+ *
 48K+ *
 74K+ *
 105K+ *
 49K+ *
0
 62K+ *
 115K+ *
 115K+ *
 202K+
 89K+ *
 190K+
 44K+ *
 55K+
 30K+ *
 189K+
 92K+ *
 73K+
 175K+
 60K+ *
 39K+ *
 115K+
 39K+ *
 140K+
 135K+ *
 92K+ *
 65K+ *
 129K+ *
 153K+
 62K+ *
 104K+
 121K+
 81K+ *
 200K+ *
 56K+ *
 69K+ *
 115K+ *
 115K+ *
 200K+
 62K+ *
 115K+ *
 129K+ *
 92K+ *
 90K+
 69K+ *
 90K+ *
 156K+
 62K+ *
 42K+ *
 70K+ *
 90K+ *
 45K+
 90K+ *
0
 56K+ *
 142K+
 115K+ *
 42K+ *
 62K+ *
 75K+ *
0
 69K+ *
 62K+ *
 115K+ *
 42K+ *
 184K+
 56K+ *
 62K+ *
 73K+ *
 69K+ *
 92K+ *
 144K+ *
 62K+ *
 56K+ *
 115K+ *
 62K+ *
 90K+ *
 69K+ *
0
 35K+ *
 92K+ *
0
 129K+
 56K+ *
 115K+ *
 45K+ *
 110K+ *
 152K+
 75K+ *
0
 142K+
 172K+
 135K+ *
0
 62K+ *
0
0
 115K+ *
 115K+ *
 115K+ *
 62K+ *
 63K+ *
 92K+ *
 161K+
 56K+ *
 115K+ *
 131K+ *
 68K+
 48K+ *
 92K+ *
 30K+ *
 59K+ *
 39K+ *
 55K+ *
 92K+ *
 90K+
 103K+ *
 129K+ *
 129K+ *
 115K+ *
 142K+
 115K+ *
 30K+ *
 30K+ *
 155K+ *
 42K+ *
 142K+
0
 62K+ *
 115K+ *
 62K+ *
 150K+
 77K+ *
 103K+ *
 152K+
0
 55K+ *
 56K+ *
 92K+ *
 115K+ *
 131K+ *
 92K+ *
 39K+ *
 129K+ *
0
 55K+ *
 56K+ *
 56K+ *
 92K+ *
 75K+ *
 140K+
 55K+ *
 73K+ *
0
 59K+ *
 129K+ *
 42K+ *
 182K+
 55K+ *
 92K+ *
 62K+ *
 92K+ *
 92K+ *
 90K+ *
 92K+ *
 42K+ *
 129K+ *
 132K+
 62K+ *
 115K+ *
 79K+
 74K+ *
 125K+
 42K+ *
 92K+ *
 103K+ *
 115K+ *
 165K+
 115K+ *
 129K+ *
 115K+ *
 129K+ *
 129K+ *
 115K+ *
 134K+
 59K+ *
 131K+ *
 51K+ *
 92K+ *
 92K+ *
 115K+ *
 126K+
 35K+ *
 183K+
 115K+ *
 129K+
 69K+ *
 115K+ *
 77K+ *
 65K+ *
GBP 55K+
0
 39K+ *
 55K+ *
 110K+ *
 55K+ *
 74K+ *
 129K+ *
 115K+ *
 138K+
 74K+ *
 115K+ *
 79K+
 51K+ *
 196K+
 131K+ *
 102K+ *
 115K+ *
 115K+ *
 131K+ *
 62K+ *
 56K+ *
 205K+
 90K+ *
 56K+ *
 56K+ *
 110K+ *
 62K+ *
 62K+ *
 131K+ *
 39K+ *
 35K+ *
 59K+ *
 62K+ *
 115K+ *
 153K+
 73K+ *
GBP 65K+
 115K+ *
 140K+
 70K+
 112K+
 150K+
 115K+ *
 178K+
0
 115K+ *
 92K+ *
 115K+ *
 92K+ *
 131K+ *
 39K+ *
 56K+ *
 125K+
 185K+
 42K+ *
 73K+ *
 129K+ *
 30K+ *
0
 55K+ *
 115K+ *
 69K+ *
 131K+ *
 129K+ *
 62K+ *
 35K+ *
 140K+
 115K+ *
 55K+ *
 77K+ *
 197K+
 102K+ *
 55K+ *
 92K+ *
 135K+ *
 55K+ *
 42K+ *
 92K+ *
 42K+ *
 115K+ *
 55K+ *
 39K+ *
 42K+ *
 69K+ *
 56K+ *
 148K+
 55K+ *
 95K+
 168K+
 115K+ *
 42K+ *
 56K+ *
 50K+ *
 148K+
 70K+ *
 73K+ *
 115K+ *
 59K+ *
 81K+ *
 50K+ *
 59K+ *
 92K+ *
 73K+ *
 142K+
 45K+ *
 92K+ *
 39K+ *
 51K+ *
 42K+ *
 115K+ *
0
 92K+ *
 69K+ *
 92K+ *
 129K+ *
 144K+ *
 129K+ *
 131K+ *
 136K+
 33K+ *
 115K+ *
 55K+ *
 100K+
 135K+ *
 54K+ *
 44K+ *
 55K+ *
 129K+ *
 39K+ *
 115K+ *
 55K+ *
 115K+ *
 45K+ *
 92K+ *
 98K+
 39K+ *
 56K+ *
 55K+ *
 69K+ *
 131K+ *
 42K+ *
 115K+ *
 56K+ *
 89K+ *
 35K+ *
 92K+ *
 115K+ *
 131K+ *
 110K+ *
 30K+ *
 55K+ *
 55K+ *
 51K+ *
 42K+ *
 39K+ *
 55K+ *
 141K+
 62K+ *
 55K+ *
 73K+ *
 51K+ *
 131K+ *
 51K+ *
 97K+
0
 103K+ *
 131K+ *
 73K+ *
 92K+ *
 62K+ *
 62K+ *
 115K+ *
0
 110K+
 135K+ *
 55K+ *
 55K+ *
 129K+ *
 92K+ *
 55K+ *
 42K+ *
 129K+ *
 62K+ *
 95K+ *
 129K+ *
 92K+ *
 55K+ *
 129K+ *
 62K+ *
 65K+
 75K+ *
 95K+ *
 56K+ *
 122K+ *
 73K+ *
GBP 45K+
 69K+ *
 44K+ *
 131K+ *
 39K+ *
 62K+ *
 39K+ *
 62K+ *
 62K+ *
 55K+ *
 75K+ *
 79K+
 115K+ *
GBP 55K
 56K+ *
 50K+ *
 129K+ *
 55K+ *
 48K+ *
 30K+ *
 55K+ *
 56K+ *
 110K+
 72K+
 51K+ *
 90K+
 56K+ *
 92K+ *
 205K+
 55K+ *
 113K+
 55K+ *
 50K+ *
 127K+
 159K+
 59K+ *
 92K+ *
 62K+ *
 125K+
 115K+ *
 131K+ *
 69K+ *
 92K+ *
0
 56K+ *
 55K+ *
 92K+ *
 136K+
 129K+ *
 55K+ *
 74K+ *
 180K+
 48K+ *
 92K+ *
 62K+ *
 62K+ *
 69K+ *

In [15]:
def convert_to_usd(amount, currency):
    if currency == 'EUR':
        return amount * 1.18
    elif currency == 'GBP':
        return amount * 1.38
    else:
        return amount

def extract_numeric_salary(salary_str):
    try:
        return float(salary_str)
    except ValueError:
        currency_code = salary_str[:3]  # Extract the first three characters as currency code
        numeric_salary = salary_str[3:].strip().replace(',', '')  # Extract the numeric part and remove commas
        return convert_to_usd(float(numeric_salary), currency_code)

data["Salary"] = data["Salary"].str.replace('K', '').str.replace('*', '').str.replace('+', '')
data["Salary"] = data["Salary"].apply(extract_numeric_salary) * 1000

for x in data["Salary"]:
    print(x)

48000.0
48000.0
90000.0
48000.0
108000.0
184000.0
39000.0
nan
nan
140000.0
40000.0
80000.0
35000.0
62000.0
39000.0
159000.0
97000.0
92000.0
48000.0
129000.0
92000.0
115000.0
39000.0
44000.0
73000.0
40000.0
59000.0
106000.0
129000.0
92000.0
105000.0
55000.0
115000.0
110000.0
140000.0
129000.0
63000.0
49000.0
180000.0
nan
115000.0
62000.0
73000.0
127000.0
nan
60000.0
129000.0
92000.0
45000.0
115000.0
135000.0
69000.0
129000.0
176000.0
65000.0
40000.0
62000.0
48000.0
51000.0
67000.0
104000.0
92000.0
69000.0
73000.0
115000.0
105000.0
51000.0
166000.0
62000.0
80000.0
131000.0
62000.0
115000.0
69000.0
129000.0
nan
40000.0
65000.0
43000.0
92000.0
45000.0
81000.0
35000.0
69000.0
92000.0
62000.0
65000.0
nan
115000.0
69000.0
140000.0
65000.0
69000.0
96000.0
39000.0
69000.0
56000.0
39000.0
131000.0
62000.0
115000.0
115000.0
130000.0
73000.0
92000.0
131000.0
44000.0
115000.0
73000.0
50000.0
48000.0
59000.0
100000.0
129000.0
60000.0
52000.0
62000.0
135000.0
76000.0
129000.0
73000.0
92000.0
129000.0
62000.0
50000.0
172000.0
119000.0
125000.0
92000.0
116000.0
77000.0
74000.0
70000.0
120000.0
115000.0
115000.0
65000.0
59000.0
73000.0
92000.0
51000.0
62000.0
115000.0
69000.0
55000.0
48000.0
115000.0
92000.0
50000.0
69000.0
176000.0
40000.0
189000.0
39000.0
149000.0
92000.0
130000.0
48000.0
110000.0
115000.0
131000.0
40000.0
69000.0
62000.0
90000.0
51000.0
110000.0
nan
120000.0
nan
73000.0
115000.0
39000.0
92000.0
131000.0
49000.0
105000.0
115000.0
30000.0
131000.0
115000.0
81000.0
35000.0
167000.0
236000.0
129000.0
115000.0
92000.0
77000.0
62000.0
50000.0
69000.0
40000.0
51000.0
131000.0
62000.0
35000.0
135000.0
65000.0
81000.0
nan
179000.0
100000.0
35000.0
56000.0
92000.0
80000.0
nan
49000.0
167000.0
200000.0
30000.0
nan
30000.0
30000.0
73000.0
nan
73000.0
48000.0
115000.0
62000.0
139000.0
129000.0
113000.0
59000.0
81000.0
150000.0
39000.0
45000.0
158000.0
96000.0
55000.0
40000.0
184000.0
100000.0
129000.0
96000.0
55000.0
40000.0
129000.0
92000.0
51000.0
81000.0
115000.0
48000.0
65000.0
73000.0
50000.0
60000.0
129000.0
55000.0
44000.0
115000.0
133000.0
120000.0
73000.0
129000.0
131000.0
115000.0
55000.0
70000.0
81000.0
129000.0
104000.0
92000.0
62000.0
105000.0
50000.0
55000.0
115000.0
135000.0
69000.0
50000.0
nan
51000.0
51000.0
78000.0
73000.0
80000.0
55000.0
73000.0
77000.0
92000.0
48000.0
62000.0
36000.0
40000.0
56000.0
96000.0
48000.0
129000.0
56000.0
115000.0
105000.0
60000.0
92000.0
48000.0
115000.0
nan
80000.0
96000.0
nan
51000.0
69000.0
115000.0
122000.0
48000.0
62000.0
92000.0
69000.0
131000.0
120000.0
184000.0
81000.0
115000.0
40000.0
nan
115000.0
39000.0
59000.0
55000.0
62000.0
59000.0
95580.0
48000.0
105000.0
115000.0
nan
nan
92000.0
55000.0
62000.0
130000.0
nan
49000.0
55000.0
130000.0
73000.0
62000.0
69000.0
129000.0
190000.0
62000.0
72000.0
129000.0
62000.0
92000.0
59000.0
56000.0
45000.0
nan
92000.0
nan
45000.0
92000.0
136000.0
115000.0
129000.0
131000.0
115000.0
40000.0
73000.0
62000.0
49000.0
69000.0
73000.0
62000.0
102000.0
51000.0
nan
65000.0
31000.0
56000.0
131000.0
65000.0
89000.0
190000.0
92000.0
73000.0
115000.0
115000.0
115000.0
92000.0
69000.0
139000.0
135000.0
45000.0
115000.0
89000.0
156000.0
92000.0
35000.0
62000.0
110000.0
73000.0
80000.0
92000.0
62000.0
39000.0
92000.0
40000.0
70000.0
62000.0
130000.0
62000.0
92000.0
100000.0
50000.0
45000.0
172000.0
nan
77000.0
40000.0
nan
80000.0
92000.0
131000.0
nan
92000.0
80000.0
48000.0
110000.0
nan
107000.0
131000.0
115000.0
115000.0
73000.0
nan
199000.0
62000.0
51000.0
51000.0
59000.0
62000.0
48000.0
73000.0
135000.0
80000.0
120000.0
224000.0
51000.0
115000.0
36000.0
39000.0
55000.0
62000.0
142000.0
48300.0
183000.0
77000.0
56000.0
nan
40000.0
164000.0
153400.0
69000.0
92000.0
62000.0
69000.0
174000.0
92000.0
84000.0
62000.0
56000.0
80000.0
50000.0
62000.0
35000.0
60000.0
48000.0
55000.0
nan
92000.0
60000.0
115000.0
62000.0
100000.0
63000.0
55000.0
45000.0
55000.0
79000.0
92000.0
96000.0
55000.0
65000.0
50000.0
48000.0
133000.0
62000.0
50000.0
35000.0
73000.0
65000.0
48000.0
131000.0
69000.0
39000.0
nan
135000.0
103000.0
81000.0
143000.0
nan
69000.0
69000.0
129000.0
56000.0
73000.0
51000.0
55000.0
65000.0
nan
135000.0
84000.0
73000.0
115000.0
nan
48000.0
51000.0
nan
60000.0
48000.0
55000.0
90000.0
62000.0
73000.0
59000.0
73000.0
73000.0
129000.0
129000.0
62000.0
45000.0
129000.0
62000.0
nan
nan
60000.0
44000.0
55000.0
175000.0
104000.0
62000.0
45000.0
115000.0
200000.0
40000.0
40000.0
170000.0
nan
73000.0
102000.0
30000.0
92000.0
131000.0
62000.0
65000.0
115000.0
129000.0
176000.0
44000.0
129000.0
69000.0
39000.0
129000.0
40000.0
63000.0
52000.0
96000.0
56000.0
62000.0
115000.0
nan
164000.0
77000.0
nan
74000.0
nan
129000.0
60000.0
62000.0
184000.0
141000.0
92000.0
92000.0
62000.0
135000.0
129000.0
62000.0
65000.0
62000.0
92000.0
90000.0
283000.0
56000.0
129000.0
81000.0
48000.0
72000.0
59000.0
200000.0
115000.0
151000.0
62000.0
39000.0
131000.0
90000.0
105000.0
73000.0
151000.0
40000.0
111000.0
92000.0
77000.0
62000.0
115000.0
115000.0
115000.0
51000.0
48000.0
62000.0
150000.0
55000.0
62000.0
92000.0
81000.0
48000.0
129000.0
150000.0
135000.0
92000.0
69000.0
135000.0
92000.0
69000.0
92000.0
69000.0
51000.0
135000.0
50000.0
130000.0
140000.0
39000.0
35000.0
55000.0
62000.0
92000.0
131000.0
73000.0
48000.0
115000.0
44000.0
92000.0
62000.0
49000.0
129000.0
35000.0
96000.0
120000.0
48000.0
148000.0
65000.0
283000.0
56000.0
69000.0
204000.0
nan
115000.0
69000.0
69000.0
62000.0
115000.0
70000.0
77000.0
56000.0
39000.0
106000.0
62000.0
39000.0
59000.0
96000.0
202000.0
51000.0
142000.0
92000.0
295000.0
200000.0
140000.0
59000.0
74000.0
45000.0
184000.0
68000.0
52000.0
92000.0
62000.0
48000.0
60000.0
49000.0
51000.0
30000.0
nan
63000.0
77000.0
184000.0
35000.0
131000.0
65000.0
62000.0
50000.0
nan
39000.0
92000.0
65000.0
142000.0
69000.0
283000.0
195000.0
39000.0
62000.0
39000.0
39000.0
56000.0
170000.0
62000.0
142000.0
145000.0
139000.0
283000.0
50000.0
115000.0
115000.0
267000.0
50000.0
49000.0
110000.0
56000.0
129000.0
125000.0
115000.0
283000.0
115000.0
51000.0
nan
159000.0
55000.0
131000.0
131000.0
80000.0
130000.0
115000.0
48000.0
131000.0
40000.0
74000.0
69000.0
50000.0
73000.0
55000.0
51000.0
55000.0
nan
200000.0
56000.0
89000.0
115000.0
148000.0
115000.0
109000.0
73000.0
56000.0
63000.0
73000.0
69000.0
115000.0
nan
51000.0
60000.0
62000.0
51000.0
73000.0
295000.0
115000.0
nan
136000.0
310000.0
39000.0
115000.0
102000.0
81000.0
89000.0
62000.0
69000.0
nan
73000.0
153000.0
115000.0
39000.0
154000.0
129000.0
55000.0
150000.0
115000.0
110000.0
nan
86000.0
51000.0
nan
70000.0
51000.0
51000.0
115000.0
200000.0
73000.0
44000.0
110000.0
50000.0
129000.0
65000.0
70000.0
131000.0
56000.0
65000.0
102000.0
62000.0
131000.0
63000.0
39000.0
92000.0
207000.0
80000.0
136000.0
85000.0
92000.0
nan
69000.0
115000.0
97000.0
70000.0
73000.0
73000.0
69000.0
65000.0
66000.0
92000.0
nan
62000.0
103000.0
79000.0
89000.0
62000.0
150000.0
200000.0
115000.0
nan
315000.0
nan
55000.0
160000.0
129000.0
172000.0
48000.0
48000.0
113000.0
63000.0
nan
55000.0
69000.0
55000.0
78000.0
92000.0
73000.0
66000.0
40000.0
115000.0
129000.0
92000.0
55000.0
115000.0
35000.0
142000.0
50000.0
115000.0
73000.0
55000.0
131000.0
115000.0
100000.0
73000.0
65000.0
30000.0
267000.0
73000.0
48000.0
55000.0
nan
45000.0
73000.0
49000.0
115000.0
45000.0
151000.0
110000.0
62000.0
63000.0
39000.0
115000.0
40000.0
115000.0
59000.0
92000.0
39000.0
56000.0
73000.0
30000.0
144000.0
131000.0
140000.0
115000.0
245000.0
69000.0
62000.0
175000.0
102000.0
119000.0
115000.0
110000.0
62000.0
65000.0
224000.0
92000.0
160000.0
159000.0
189000.0
39000.0
126000.0
63000.0
92000.0
62000.0
60000.0
65000.0
44000.0
129000.0
92000.0
30000.0
136000.0
65000.0
69000.0
69000.0
35000.0
63000.0
69000.0
62000.0
115000.0
115000.0
135000.0
nan
129000.0
55000.0
48000.0
105000.0
139000.0
62000.0
59000.0
131000.0
73000.0
62000.0
90000.0
200000.0
56000.0
96000.0
92000.0
92000.0
129000.0
62000.0
39000.0
182000.0
39000.0
69000.0
131000.0
62000.0
44000.0
150000.0
92000.0
115000.0
159000.0
55000.0
184000.0
70000.0
115000.0
40000.0
69000.0
60000.0
136000.0
157000.0
35000.0
115000.0
156000.0
nan
110000.0
69000.0
105000.0
214000.0
115000.0
129000.0
56000.0
129000.0
129000.0
167000.0
115000.0
65000.0
62000.0
56000.0
60000.0
65000.0
167000.0
65000.0
115000.0
173000.0
39000.0
73000.0
115000.0
92000.0
74000.0
48000.0
184000.0
115000.0
92000.0
62000.0
92000.0
73000.0
92000.0
45000.0
96000.0
49000.0
94399.99999999999
92000.0
65000.0
69000.0
110000.0
72000.0
200000.0
73000.0
69000.0
92000.0
102000.0
35000.0
115000.0
30000.0
40000.0
55000.0
48000.0
129000.0
65000.0
59000.0
115000.0
39000.0
156000.0
62000.0
129000.0
30000.0
173000.0
62000.0
70000.0
78000.0
48000.0
167000.0
35000.0
56000.0
120000.0
135000.0
110000.0
73000.0
115000.0
42480.0
65000.0
62000.0
48000.0
59000.0
115000.0
131000.0
55000.0
56000.0
55000.0
115000.0
167000.0
190000.0
70000.0
92000.0
115000.0
70800.0
57959.99999999999
55000.0
131000.0
129000.0
119000.0
105000.0
63000.0
96000.0
nan
96000.0
129000.0
110000.0
129000.0
119000.0
69000.0
150000.0
40000.0
45000.0
62000.0
97000.0
65000.0
129000.0
115000.0
nan
200000.0
nan
63000.0
69000.0
59000.0
115000.0
136000.0
74000.0
69000.0
148000.0
130000.0
103000.0
nan
92000.0
69000.0
110000.0
45000.0
129000.0
73000.0
nan
35000.0
74000.0
69000.0
92000.0
112000.0
131000.0
51000.0
nan
51000.0
nan
65000.0
55000.0
115000.0
77000.0
124000.0
69000.0
110000.0
130000.0
140000.0
167000.0
148000.0
69000.0
185000.0
69000.0
nan
69000.0
96000.0
55000.0
129000.0
129000.0
48000.0
81000.0
nan
59000.0
52000.0
62000.0
48000.0
106000.0
147000.0
59000.0
115000.0
55000.0
115000.0
39000.0
77000.0
81000.0
84000.0
131000.0
135000.0
55000.0
39000.0
92000.0
129000.0
62000.0
167000.0
59000.0
nan
39000.0
92000.0
100000.0
69000.0
129000.0
144000.0
nan
115000.0
122000.0
55000.0
nan
48000.0
105000.0
129000.0
130000.0
48000.0
60000.0
110399.99999999999
115000.0
139000.0
40000.0
55000.0
69000.0
65000.0
115000.0
55000.0
129000.0
92000.0
70000.0
81000.0
70000.0
131000.0
100000.0
115000.0
115000.0
44000.0
69000.0
92000.0
144000.0
66000.0
73000.0
65000.0
167000.0
70000.0
62000.0
69000.0
nan
39000.0
129000.0
92000.0
48000.0
42480.0
62000.0
69000.0
55000.0
74000.0
73000.0
62000.0
146000.0
48000.0
129000.0
nan
62000.0
92000.0
55000.0
55000.0
74000.0
70000.0
48000.0
48000.0
96000.0
39000.0
131000.0
129000.0
nan
nan
129000.0
77000.0
142000.0
40000.0
131000.0
135000.0
56000.0
144000.0
131000.0
103000.0
165000.0
115000.0
92000.0
nan
115000.0
39000.0
131000.0
48000.0
120000.0
nan
92000.0
60000.0
129000.0
49000.0
60000.0
62000.0
166000.0
115000.0
55000.0
69000.0
73000.0
59000.0
30000.0
nan
81000.0
90000.0
106000.0
115000.0
65000.0
75000.0
56000.0
75000.0
73000.0
115000.0
110000.0
63000.0
62000.0
62000.0
60000.0
163000.0
110000.0
80000.0
69000.0
nan
55000.0
129000.0
73000.0
92000.0
96000.0
69000.0
135000.0
nan
92000.0
73000.0
44000.0
70000.0
40000.0
92000.0
100000.0
193000.0
129000.0
109000.0
131000.0
82800.0
92000.0
44000.0
60000.0
48000.0
218000.0
60000.0
62000.0
55000.0
180000.0
73000.0
159000.0
200000.0
115000.0
nan
230000.0
55000.0
55000.0
nan
131000.0
40000.0
40000.0
69000.0
102000.0
51000.0
40000.0
115000.0
96000.0
115000.0
135000.0
40000.0
65000.0
85000.0
168000.0
134000.0
55000.0
115000.0
60000.0
62000.0
115000.0
50000.0
115000.0
56000.0
50000.0
96000.0
50000.0
69000.0
48000.0
65000.0
48000.0
69000.0
69000.0
115000.0
142000.0
62000.0
nan
60000.0
129000.0
135000.0
80000.0
39000.0
145000.0
133000.0
225000.0
69000.0
185000.0
55000.0
129000.0
48000.0
103000.0
70800.0
nan
73000.0
113000.0
50000.0
184000.0
70000.0
147000.0
129000.0
55000.0
193000.0
73000.0
131000.0
104000.0
51000.0
92000.0
51000.0
51000.0
144000.0
253000.0
69000.0
110000.0
115000.0
85000.0
44000.0
115000.0
129000.0
80000.0
45000.0
59000.0
129000.0
115000.0
55000.0
56000.0
62000.0
39000.0
55000.0
96000.0
184000.0
129000.0
105000.0
129000.0
44000.0
83000.0
45000.0
235000.0
62000.0
96000.0
45000.0
75000.0
69000.0
135000.0
55000.0
175000.0
nan
56000.0
55000.0
nan
110000.0
135000.0
69000.0
96000.0
55000.0
55000.0
62000.0
129000.0
103000.0
127000.0
56000.0
136000.0
129000.0
115000.0
55000.0
55000.0
73000.0
56000.0
129000.0
175000.0
55000.0
30000.0
127000.0
142000.0
187000.0
160000.0
74000.0
129000.0
227000.0
92000.0
92000.0
131000.0
62000.0
73000.0
129000.0
103000.0
55000.0
166000.0
92000.0
51000.0
129000.0
131000.0
144000.0
129000.0
30000.0
160000.0
nan
131000.0
115000.0
39000.0
48000.0
131000.0
51000.0
56000.0
65000.0
92000.0
56000.0
144000.0
65000.0
51000.0
80000.0
115000.0
69000.0
129000.0
129000.0
73000.0
115000.0
55000.0
74000.0
129000.0
56000.0
35000.0
129000.0
40000.0
62000.0
70000.0
35000.0
62000.0
63000.0
145000.0
142000.0
56000.0
73000.0
nan
62000.0
92000.0
73000.0
63000.0
nan
48000.0
115000.0
73000.0
nan
73000.0
129000.0
73000.0
92000.0
129000.0
92000.0
62000.0
92000.0
nan
110000.0
65000.0
62000.0
62000.0
51000.0
45000.0
nan
129000.0
62000.0
nan
184000.0
45000.0
56000.0
59000.0
74000.0
62000.0
39000.0
48000.0
48000.0
31000.0
74000.0
61000.0
129000.0
69000.0
60000.0
65000.0
55000.0
89000.0
131000.0
131000.0
115000.0
115000.0
171000.0
96000.0
62000.0
nan
70000.0
80000.0
nan
nan
129000.0
48000.0
92000.0
131000.0
59000.0
51000.0
115000.0
129000.0
234000.0
115000.0
nan
nan
69000.0
55000.0
92000.0
50000.0
63000.0
166000.0
73000.0
nan
69000.0
nan
69000.0
115000.0
115000.0
163000.0
115000.0
39000.0
115000.0
129000.0
55000.0
135000.0
59000.0
129000.0
166000.0
62000.0
55000.0
163000.0
92000.0
69000.0
60000.0
30000.0
115000.0
73000.0
193000.0
69000.0
115000.0
245000.0
108000.0
55000.0
151000.0
51000.0
92000.0
62000.0
115000.0
56000.0
73000.0
92000.0
55000.0
103000.0
62099.99999999999
35000.0
131000.0
77000.0
69000.0
73000.0
69000.0
105000.0
129000.0
92000.0
59000.0
115000.0
nan
nan
59000.0
40000.0
129000.0
96000.0
77000.0
105000.0
62000.0
89000.0
50000.0
76000.0
135000.0
69000.0
115000.0
129000.0
141000.0
102000.0
63000.0
155000.0
62000.0
55000.0
48000.0
115000.0
nan
131000.0
73000.0
131000.0
200000.0
183000.0
56000.0
60000.0
115000.0
52000.0
92000.0
115000.0
nan
62000.0
56000.0
48000.0
135000.0
55000.0
55000.0
81000.0
63000.0
135000.0
50000.0
129000.0
245000.0
129000.0
189000.0
55000.0
62000.0
131000.0
56000.0
135000.0
115000.0
147000.0
62000.0
55000.0
62000.0
170000.0
56000.0
92000.0
144000.0
49000.0
59000.0
49000.0
130000.0
115000.0
110000.0
62000.0
131000.0
52000.0
159000.0
115000.0
92000.0
62000.0
142000.0
129000.0
73000.0
131000.0
79000.0
151000.0
39000.0
115000.0
48000.0
45000.0
nan
nan
48000.0
119000.0
69000.0
49000.0
35000.0
65000.0
nan
92000.0
142000.0
49000.0
115000.0
35000.0
62000.0
80000.0
70000.0
119000.0
129000.0
48000.0
62000.0
147000.0
160000.0
115000.0
130000.0
56000.0
135000.0
65000.0
65000.0
70000.0
65000.0
55000.0
92000.0
147000.0
nan
115000.0
140000.0
115000.0
115000.0
105000.0
62000.0
84000.0
55000.0
40000.0
125000.0
130000.0
40000.0
175000.0
135000.0
74000.0
129000.0
115000.0
nan
60000.0
nan
55000.0
56000.0
39000.0
nan
92000.0
62000.0
73000.0
49000.0
55000.0
129000.0
131000.0
56000.0
39000.0
144000.0
nan
39000.0
129000.0
115000.0
50000.0
115000.0
110000.0
103000.0
69000.0
200000.0
45000.0
nan
55000.0
73000.0
92000.0
nan
48000.0
59000.0
77000.0
90000.0
56000.0
129000.0
104000.0
115000.0
56000.0
56000.0
60000.0
nan
163000.0
59000.0
71000.0
73000.0
65000.0
50000.0
35000.0
115000.0
129000.0
62000.0
125000.0
59000.0
48000.0
nan
129000.0
129000.0
73000.0
62000.0
73000.0
92000.0
90000.0
94000.0
135000.0
55000.0
nan
55000.0
175000.0
159000.0
131000.0
40000.0
62000.0
59000.0
92000.0
30000.0
129000.0
81000.0
62000.0
129000.0
140000.0
62000.0
31000.0
60000.0
69000.0
103000.0
57000.0
131000.0
39000.0
62000.0
129000.0
55000.0
129000.0
69000.0
187000.0
50000.0
115000.0
62000.0
136000.0
nan
59000.0
nan
65000.0
69000.0
113000.0
110000.0
92000.0
80000.0
197000.0
102000.0
nan
80000.0
115000.0
159000.0
nan
140000.0
55000.0
45000.0
92000.0
105000.0
51000.0
129000.0
78000.0
82000.0
77000.0
62000.0
30000.0
160000.0
131000.0
105000.0
129000.0
55000.0
62000.0
70000.0
81000.0
105000.0
92000.0
160000.0
62000.0
135000.0
69000.0
50000.0
73000.0
65000.0
77000.0
131000.0
129000.0
56000.0
65000.0
60000.0
110000.0
62000.0
55000.0
48000.0
51000.0
115000.0
92000.0
170000.0
nan
56000.0
96000.0
60000.0
115000.0
nan
62000.0
115000.0
129000.0
55000.0
55000.0
62000.0
73000.0
110000.0
62000.0
55000.0
129000.0
70000.0
135000.0
40000.0
69000.0
48000.0
39000.0
129000.0
73000.0
92000.0
nan
135000.0
69000.0
92000.0
30000.0
115000.0
73000.0
62000.0
40000.0
49000.0
115000.0
48000.0
81000.0
60000.0
80000.0
73000.0
50000.0
55000.0
80000.0
77000.0
73000.0
136000.0
73000.0
92000.0
73000.0
48000.0
69000.0
70000.0
129000.0
nan
nan
115000.0
60000.0
129000.0
110000.0
172000.0
115000.0
185000.0
92000.0
65000.0
92000.0
92000.0
nan
51000.0
55000.0
48000.0
81000.0
60000.0
177000.0
31000.0
65000.0
56000.0
65000.0
73000.0
129000.0
40000.0
74000.0
129000.0
56000.0
115000.0
62000.0
62000.0
104000.0
nan
69000.0
48000.0
80000.0
156000.0
129000.0
102000.0
30000.0
79000.0
70000.0
160000.0
62000.0
164000.0
92000.0
119000.0
69000.0
131000.0
235000.0
49000.0
55000.0
129000.0
nan
62000.0
nan
56000.0
30000.0
115000.0
70000.0
92000.0
108000.0
39000.0
48000.0
130000.0
103000.0
92000.0
30000.0
62000.0
93000.0
115000.0
73000.0
115000.0
62000.0
135000.0
130000.0
100000.0
80000.0
75000.0
69000.0
65000.0
92000.0
115000.0
69000.0
nan
79000.0
131000.0
92000.0
nan
135000.0
81000.0
156000.0
96000.0
81000.0
73000.0
92000.0
69000.0
48000.0
65000.0
115000.0
170000.0
35000.0
92000.0
92000.0
35000.0
104000.0
135000.0
62000.0
45000.0
51000.0
135000.0
69000.0
170000.0
55000.0
44000.0
115000.0
60000.0
73000.0
48000.0
74000.0
105000.0
49000.0
nan
62000.0
115000.0
115000.0
202000.0
89000.0
190000.0
44000.0
55000.0
30000.0
189000.0
92000.0
73000.0
175000.0
60000.0
39000.0
115000.0
39000.0
140000.0
135000.0
92000.0
65000.0
129000.0
153000.0
62000.0
104000.0
121000.0
81000.0
200000.0
56000.0
69000.0
115000.0
115000.0
200000.0
62000.0
115000.0
129000.0
92000.0
90000.0
69000.0
90000.0
156000.0
62000.0
42000.0
70000.0
90000.0
45000.0
90000.0
nan
56000.0
142000.0
115000.0
42000.0
62000.0
75000.0
nan
69000.0
62000.0
115000.0
42000.0
184000.0
56000.0
62000.0
73000.0
69000.0
92000.0
144000.0
62000.0
56000.0
115000.0
62000.0
90000.0
69000.0
nan
35000.0
92000.0
nan
129000.0
56000.0
115000.0
45000.0
110000.0
152000.0
75000.0
nan
142000.0
172000.0
135000.0
nan
62000.0
nan
nan
115000.0
115000.0
115000.0
62000.0
63000.0
92000.0
161000.0
56000.0
115000.0
131000.0
68000.0
48000.0
92000.0
30000.0
59000.0
39000.0
55000.0
92000.0
90000.0
103000.0
129000.0
129000.0
115000.0
142000.0
115000.0
30000.0
30000.0
155000.0
42000.0
142000.0
nan
62000.0
115000.0
62000.0
150000.0
77000.0
103000.0
152000.0
nan
55000.0
56000.0
92000.0
115000.0
131000.0
92000.0
39000.0
129000.0
nan
55000.0
56000.0
56000.0
92000.0
75000.0
140000.0
55000.0
73000.0
nan
59000.0
129000.0
42000.0
182000.0
55000.0
92000.0
62000.0
92000.0
92000.0
90000.0
92000.0
42000.0
129000.0
132000.0
62000.0
115000.0
79000.0
74000.0
125000.0
42000.0
92000.0
103000.0
115000.0
165000.0
115000.0
129000.0
115000.0
129000.0
129000.0
115000.0
134000.0
59000.0
131000.0
51000.0
92000.0
92000.0
115000.0
126000.0
35000.0
183000.0
115000.0
129000.0
69000.0
115000.0
77000.0
65000.0
75899.99999999999
nan
39000.0
55000.0
110000.0
55000.0
74000.0
129000.0
115000.0
138000.0
74000.0
115000.0
79000.0
51000.0
196000.0
131000.0
102000.0
115000.0
115000.0
131000.0
62000.0
56000.0
205000.0
90000.0
56000.0
56000.0
110000.0
62000.0
62000.0
131000.0
39000.0
35000.0
59000.0
62000.0
115000.0
153000.0
73000.0
89699.99999999999
115000.0
140000.0
70000.0
112000.0
150000.0
115000.0
178000.0
nan
115000.0
92000.0
115000.0
92000.0
131000.0
39000.0
56000.0
125000.0
185000.0
42000.0
73000.0
129000.0
30000.0
nan
55000.0
115000.0
69000.0
131000.0
129000.0
62000.0
35000.0
140000.0
115000.0
55000.0
77000.0
197000.0
102000.0
55000.0
92000.0
135000.0
55000.0
42000.0
92000.0
42000.0
115000.0
55000.0
39000.0
42000.0
69000.0
56000.0
148000.0
55000.0
95000.0
168000.0
115000.0
42000.0
56000.0
50000.0
148000.0
70000.0
73000.0

In [16]:
data["Salary"] = data["Salary"].fillna(0)
data["Salary"].isna().sum()

0

In [17]:
for x in data["Salary"]:
    print(x)

48000.0
48000.0
90000.0
48000.0
108000.0
184000.0
39000.0
0.0
0.0
140000.0
40000.0
80000.0
35000.0
62000.0
39000.0
159000.0
97000.0
92000.0
48000.0
129000.0
92000.0
115000.0
39000.0
44000.0
73000.0
40000.0
59000.0
106000.0
129000.0
92000.0
105000.0
55000.0
115000.0
110000.0
140000.0
129000.0
63000.0
49000.0
180000.0
0.0
115000.0
62000.0
73000.0
127000.0
0.0
60000.0
129000.0
92000.0
45000.0
115000.0
135000.0
69000.0
129000.0
176000.0
65000.0
40000.0
62000.0
48000.0
51000.0
67000.0
104000.0
92000.0
69000.0
73000.0
115000.0
105000.0
51000.0
166000.0
62000.0
80000.0
131000.0
62000.0
115000.0
69000.0
129000.0
0.0
40000.0
65000.0
43000.0
92000.0
45000.0
81000.0
35000.0
69000.0
92000.0
62000.0
65000.0
0.0
115000.0
69000.0
140000.0
65000.0
69000.0
96000.0
39000.0
69000.0
56000.0
39000.0
131000.0
62000.0
115000.0
115000.0
130000.0
73000.0
92000.0
131000.0
44000.0
115000.0
73000.0
50000.0
48000.0
59000.0
100000.0
129000.0
60000.0
52000.0
62000.0
135000.0
76000.0
129000.0
73000.0
92000.0
129000.0
62000.0
50000.0
172000.0
119000.0
125000.0
92000.0
116000.0
77000.0
74000.0
70000.0
120000.0
115000.0
115000.0
65000.0
59000.0
73000.0
92000.0
51000.0
62000.0
115000.0
69000.0
55000.0
48000.0
115000.0
92000.0
50000.0
69000.0
176000.0
40000.0
189000.0
39000.0
149000.0
92000.0
130000.0
48000.0
110000.0
115000.0
131000.0
40000.0
69000.0
62000.0
90000.0
51000.0
110000.0
0.0
120000.0
0.0
73000.0
115000.0
39000.0
92000.0
131000.0
49000.0
105000.0
115000.0
30000.0
131000.0
115000.0
81000.0
35000.0
167000.0
236000.0
129000.0
115000.0
92000.0
77000.0
62000.0
50000.0
69000.0
40000.0
51000.0
131000.0
62000.0
35000.0
135000.0
65000.0
81000.0
0.0
179000.0
100000.0
35000.0
56000.0
92000.0
80000.0
0.0
49000.0
167000.0
200000.0
30000.0
0.0
30000.0
30000.0
73000.0
0.0
73000.0
48000.0
115000.0
62000.0
139000.0
129000.0
113000.0
59000.0
81000.0
150000.0
39000.0
45000.0
158000.0
96000.0
55000.0
40000.0
184000.0
100000.0
129000.0
96000.0
55000.0
40000.0
129000.0
92000.0
51000.0
81000.0
115000.0
48000.0
65000.0
73000.0
50000.0
60000.0
129000.0
55000.0
44000.0
115000.0
133000.0
120000.0
73000.0
129000.0
131000.0
115000.0
55000.0
70000.0
81000.0
129000.0
104000.0
92000.0
62000.0
105000.0
50000.0
55000.0
115000.0
135000.0
69000.0
50000.0
0.0
51000.0
51000.0
78000.0
73000.0
80000.0
55000.0
73000.0
77000.0
92000.0
48000.0
62000.0
36000.0
40000.0
56000.0
96000.0
48000.0
129000.0
56000.0
115000.0
105000.0
60000.0
92000.0
48000.0
115000.0
0.0
80000.0
96000.0
0.0
51000.0
69000.0
115000.0
122000.0
48000.0
62000.0
92000.0
69000.0
131000.0
120000.0
184000.0
81000.0
115000.0
40000.0
0.0
115000.0
39000.0
59000.0
55000.0
62000.0
59000.0
95580.0
48000.0
105000.0
115000.0
0.0
0.0
92000.0
55000.0
62000.0
130000.0
0.0
49000.0
55000.0
130000.0
73000.0
62000.0
69000.0
129000.0
190000.0
62000.0
72000.0
129000.0
62000.0
92000.0
59000.0
56000.0
45000.0
0.0
92000.0
0.0
45000.0
92000.0
136000.0
115000.0
129000.0
131000.0
115000.0
40000.0
73000.0
62000.0
49000.0
69000.0
73000.0
62000.0
102000.0
51000.0
0.0
65000.0
31000.0
56000.0
131000.0
65000.0
89000.0
190000.0
92000.0
73000.0
115000.0
115000.0
115000.0
92000.0
69000.0
139000.0
135000.0
45000.0
115000.0
89000.0
156000.0
92000.0
35000.0
62000.0
110000.0
73000.0
80000.0
92000.0
62000.0
39000.0
92000.0
40000.0
70000.0
62000.0
130000.0
62000.0
92000.0
100000.0
50000.0
45000.0
172000.0
0.0
77000.0
40000.0
0.0
80000.0
92000.0
131000.0
0.0
92000.0
80000.0
48000.0
110000.0
0.0
107000.0
131000.0
115000.0
115000.0
73000.0
0.0
199000.0
62000.0
51000.0
51000.0
59000.0
62000.0
48000.0
73000.0
135000.0
80000.0
120000.0
224000.0
51000.0
115000.0
36000.0
39000.0
55000.0
62000.0
142000.0
48300.0
183000.0
77000.0
56000.0
0.0
40000.0
164000.0
153400.0
69000.0
92000.0
62000.0
69000.0
174000.0
92000.0
84000.0
62000.0
56000.0
80000.0
50000.0
62000.0
35000.0
60000.0
48000.0
55000.0
0.0
92000.0
60000.0
115000.0
62000.0
100000.0
63000.0
55000.0
45000.0
55000.0
79000.0
92000.0
96000.0
55000.0
65000.0
50000.0
48000.0
133000.0
62000.0
50000.0
35000.0
73000.0
65000.0
48000.0
131000.0
69000.0
39000.0
0.0
135000.0
103000.0
81000.0
143000.0
0.0
69000.0
69000.0
129000.0
56000.0
73000.0
51000.0
55000.0
65000.0
0.0
135000.0
84000.0
73000.0
115000.0
0.0
48000.0
51000.0
0.0
60000.0
48000.0
55000.0
90000.0
62000.0
73000.0
59000.0
73000.0
73000.0
129000.0
129000.0
62000.0
45000.0
129000.0
62000.0
0.0
0.0
60000.0
44000.0
55000.0
175000.0
104000.0
62000.0
45000.0
115000.0
200000.0
40000.0
40000.0
170000.0
0.0
73000.0
102000.0
30000.0
92000.0
131000.0
62000.0
65000.0
115000.0
129000.0
176000.0
44000.0
129000.0
69000.0
39000.0
129000.0
40000.0
63000.0
52000.0
96000.0
56000.0
62000.0
115000.0
0.0
164000.0
77000.0
0.0
74000.0
0.0
129000.0
60000.0
62000.0
184000.0
141000.0
92000.0
92000.0
62000.0
135000.0
129000.0
62000.0
65000.0
62000.0
92000.0
90000.0
283000.0
56000.0
129000.0
81000.0
48000.0
72000.0
59000.0
200000.0
115000.0
151000.0
62000.0
39000.0
131000.0
90000.0
105000.0
73000.0
151000.0
40000.0
111000.0
92000.0
77000.0
62000.0
115000.0
115000.0
115000.0
51000.0
48000.0
62000.0
150000.0
55000.0
62000.0
92000.0
81000.0
48000.0
129000.0
150000.0
135000.0
92000.0
69000.0
135000.0
92000.0
69000.0
92000.0
69000.0
51000.0
135000.0
50000.0
130000.0
140000.0
39000.0
35000.0
55000.0
62000.0
92000.0
131000.0
73000.0
48000.0
115000.0
44000.0
92000.0
62000.0
49000.0
129000.0
35000.0
96000.0
120000.0
48000.0
148000.0
65000.0
283000.0
56000.0
69000.0
204000.0
0.0
115000.0
69000.0
69000.0
62000.0
115000.0
70000.0
77000.0
56000.0
39000.0
106000.0
62000.0
39000.0
59000.0
96000.0
202000.0
51000.0
142000.0
92000.0
295000.0
200000.0
140000.0
59000.0
74000.0
45000.0
184000.0
68000.0
52000.0
92000.0
62000.0
48000.0
60000.0
49000.0
51000.0
30000.0
0.0
63000.0
77000.0
184000.0
35000.0
131000.0
65000.0
62000.0
50000.0
0.0
39000.0
92000.0
65000.0
142000.0
69000.0
283000.0
195000.0
39000.0
62000.0
39000.0
39000.0
56000.0
170000.0
62000.0
142000.0
145000.0
139000.0
283000.0
50000.0
115000.0
115000.0
267000.0
50000.0
49000.0
110000.0
56000.0
129000.0
125000.0
115000.0
283000.0
115000.0
51000.0
0.0
159000.0
55000.0
131000.0
131000.0
80000.0
130000.0
115000.0
48000.0
131000.0
40000.0
74000.0
69000.0
50000.0
73000.0
55000.0
51000.0
55000.0
0.0
200000.0
56000.0
89000.0
115000.0
148000.0
115000.0
109000.0
73000.0
56000.0
63000.0
73000.0
69000.0
115000.0
0.0
51000.0
60000.0
62000.0
51000.0
73000.0
295000.0
115000.0
0.0
136000.0
310000.0
39000.0
115000.0
102000.0
81000.0
89000.0
62000.0
69000.0
0.0
73000.0
153000.0
115000.0
39000.0
154000.0
129000.0
55000.0
150000.0
115000.0
110000.0
0.0
86000.0
51000.0
0.0
70000.0
51000.0
51000.0
115000.0
200000.0
73000.0
44000.0
110000.0
50000.0
129000.0
65000.0
70000.0
131000.0
56000.0
65000.0
102000.0
62000.0
131000.0
63000.0
39000.0
92000.0
207000.0
80000.0
136000.0
85000.0
92000.0
0.0
69000.0
115000.0
97000.0
70000.0
73000.0
73000.0
69000.0
65000.0
66000.0
92000.0
0.0
62000.0
103000.0
79000.0
89000.0
62000.0
150000.0
200000.0
115000.0
0.0
315000.0
0.0
55000.0
160000.0
129000.0
172000.0
48000.0
48000.0
113000.0
63000.0
0.0
55000.0
69000.0
55000.0
78000.0
92000.0
73000.0
66000.0
40000.0
115000.0
129000.0
92000.0
55000.0
115000.0
35000.0
142000.0
50000.0
115000.0
73000.0
55000.0
131000.0
115000.0
100000.0
73000.0
65000.0
30000.0
267000.0
73000.0
48000.0
55000.0
0.0
45000.0
73000.0
49000.0
115000.0
45000.0
151000.0
110000.0
62000.0
63000.0
39000.0
115000.0
40000.0
115000.0
59000.0
92000.0
39000.0
56000.0
73000.0
30000.0
144000.0
131000.0
140000.0
115000.0
245000.0
69000.0
62000.0
175000.0
102000.0
119000.0
115000.0
110000.0
62000.0
65000.0
224000.0
92000.0
160000.0
159000.0
189000.0
39000.0
126000.0
63000.0
92000.0
62000.0
60000.0
65000.0
44000.0
129000.0
92000.0
30000.0
136000.0
65000.0
69000.0
69000.0
35000.0
63000.0
69000.0
62000.0
115000.0
115000.0
135000.0
0.0
129000.0
55000.0
48000.0
105000.0
139000.0
62000.0
59000.0
131000.0
73000.0
62000.0
90000.0
200000.0
56000.0
96000.0
92000.0
92000.0
129000.0
62000.0
39000.0
182000.0
39000.0
69000.0
131000.0
62000.0
44000.0
150000.0
92000.0
115000.0
159000.0
55000.0
184000.0
70000.0
115000.0
40000.0
69000.0
60000.0
136000.0
157000.0
35000.0
115000.0
156000.0
0.0
110000.0
69000.0
105000.0
214000.0
115000.0
129000.0
56000.0
129000.0
129000.0
167000.0
115000.0
65000.0
62000.0
56000.0
60000.0
65000.0
167000.0
65000.0
115000.0
173000.0
39000.0
73000.0
115000.0
92000.0
74000.0
48000.0
184000.0
115000.0
92000.0
62000.0
92000.0
73000.0
92000.0
45000.0
96000.0
49000.0
94399.99999999999
92000.0
65000.0
69000.0
110000.0
72000.0
200000.0
73000.0
69000.0
92000.0
102000.0
35000.0
115000.0
30000.0
40000.0
55000.0
48000.0
129000.0
65000.0
59000.0
115000.0
39000.0
156000.0
62000.0
129000.0
30000.0
173000.0
62000.0
70000.0
78000.0
48000.0
167000.0
35000.0
56000.0
120000.0
135000.0
110000.0
73000.0
115000.0
42480.0
65000.0
62000.0
48000.0
59000.0
115000.0
131000.0
55000.0
56000.0
55000.0
115000.0
167000.0
190000.0
70000.0
92000.0
115000.0
70800.0
57959.99999999999
55000.0
131000.0
129000.0
119000.0
105000.0
63000.0
96000.0
0.0
96000.0
129000.0
110000.0
129000.0
119000.0
69000.0
150000.0
40000.0
45000.0
62000.0
97000.0
65000.0
129000.0
115000.0
0.0
200000.0
0.0
63000.0
69000.0
59000.0
115000.0
136000.0
74000.0
69000.0
148000.0
130000.0
103000.0
0.0
92000.0
69000.0
110000.0
45000.0
129000.0
73000.0
0.0
35000.0
74000.0
69000.0
92000.0
112000.0
131000.0
51000.0
0.0
51000.0
0.0
65000.0
55000.0
115000.0
77000.0
124000.0
69000.0
110000.0
130000.0
140000.0
167000.0
148000.0
69000.0
185000.0
69000.0
0.0
69000.0
96000.0
55000.0
129000.0
129000.0
48000.0
81000.0
0.0
59000.0
52000.0
62000.0
48000.0
106000.0
147000.0
59000.0
115000.0
55000.0
115000.0
39000.0
77000.0
81000.0
84000.0
131000.0
135000.0
55000.0
39000.0
92000.0
129000.0
62000.0
167000.0
59000.0
0.0
39000.0
92000.0
100000.0
69000.0
129000.0
144000.0
0.0
115000.0
122000.0
55000.0
0.0
48000.0
105000.0
129000.0
130000.0
48000.0
60000.0
110399.99999999999
115000.0
139000.0
40000.0
55000.0
69000.0
65000.0
115000.0
55000.0
129000.0
92000.0
70000.0
81000.0
70000.0
131000.0
100000.0
115000.0
115000.0
44000.0
69000.0
92000.0
144000.0
66000.0
73000.0
65000.0
167000.0
70000.0
62000.0
69000.0
0.0
39000.0
129000.0
92000.0
48000.0
42480.0
62000.0
69000.0
55000.0
74000.0
73000.0
62000.0
146000.0
48000.0
129000.0
0.0
62000.0
92000.0
55000.0
55000.0
74000.0
70000.0
48000.0
48000.0
96000.0
39000.0
131000.0
129000.0
0.0
0.0
129000.0
77000.0
142000.0
40000.0
131000.0
135000.0
56000.0
144000.0
131000.0
103000.0
165000.0
115000.0
92000.0
0.0
115000.0
39000.0
131000.0
48000.0
120000.0
0.0
92000.0
60000.0
129000.0
49000.0
60000.0
62000.0
166000.0
115000.0
55000.0
69000.0
73000.0
59000.0
30000.0
0.0
81000.0
90000.0
106000.0
115000.0
65000.0
75000.0
56000.0
75000.0
73000.0
115000.0
110000.0
63000.0
62000.0
62000.0
60000.0
163000.0
110000.0
80000.0
69000.0
0.0
55000.0
129000.0
73000.0
92000.0
96000.0
69000.0
135000.0
0.0
92000.0
73000.0
44000.0
70000.0
40000.0
92000.0
100000.0
193000.0
129000.0
109000.0
131000.0
82800.0
92000.0
44000.0
60000.0
48000.0
218000.0
60000.0
62000.0
55000.0
180000.0
73000.0
159000.0
200000.0
115000.0
0.0
230000.0
55000.0
55000.0
0.0
131000.0
40000.0
40000.0
69000.0
102000.0
51000.0
40000.0
115000.0
96000.0
115000.0
135000.0
40000.0
65000.0
85000.0
168000.0
134000.0
55000.0
115000.0
60000.0
62000.0
115000.0
50000.0
115000.0
56000.0
50000.0
96000.0
50000.0
69000.0
48000.0
65000.0
48000.0
69000.0
69000.0
115000.0
142000.0
62000.0
0.0
60000.0
129000.0
135000.0
80000.0
39000.0
145000.0
133000.0
225000.0
69000.0
185000.0
55000.0
129000.0
48000.0
103000.0
70800.0
0.0
73000.0
113000.0
50000.0
184000.0
70000.0
147000.0
129000.0
55000.0
193000.0
73000.0
131000.0
104000.0
51000.0
92000.0
51000.0
51000.0
144000.0
253000.0
69000.0
110000.0
115000.0
85000.0
44000.0
115000.0
129000.0
80000.0
45000.0
59000.0
129000.0
115000.0
55000.0
56000.0
62000.0
39000.0
55000.0
96000.0
184000.0
129000.0
105000.0
129000.0
44000.0
83000.0
45000.0
235000.0
62000.0
96000.0
45000.0
75000.0
69000.0
135000.0
55000.0
175000.0
0.0
56000.0
55000.0
0.0
110000.0
135000.0
69000.0
96000.0
55000.0
55000.0
62000.0
129000.0
103000.0
127000.0
56000.0
136000.0
129000.0
115000.0
55000.0
55000.0
73000.0
56000.0
129000.0
175000.0
55000.0
30000.0
127000.0
142000.0
187000.0
160000.0
74000.0
129000.0
227000.0
92000.0
92000.0
131000.0
62000.0
73000.0
129000.0
103000.0
55000.0
166000.0
92000.0
51000.0
129000.0
131000.0
144000.0
129000.0
30000.0
160000.0
0.0
131000.0
115000.0
39000.0
48000.0
131000.0
51000.0
56000.0
65000.0
92000.0
56000.0
144000.0
65000.0
51000.0
80000.0
115000.0
69000.0
129000.0
129000.0
73000.0
115000.0
55000.0
74000.0
129000.0
56000.0
35000.0
129000.0
40000.0
62000.0
70000.0
35000.0
62000.0
63000.0
145000.0
142000.0
56000.0
73000.0
0.0
62000.0
92000.0
73000.0
63000.0
0.0
48000.0
115000.0
73000.0
0.0
73000.0
129000.0
73000.0
92000.0
129000.0
92000.0
62000.0
92000.0
0.0
110000.0
65000.0
62000.0
62000.0
51000.0
45000.0
0.0
129000.0
62000.0
0.0
184000.0
45000.0
56000.0
59000.0
74000.0
62000.0
39000.0
48000.0
48000.0
31000.0
74000.0
61000.0
129000.0
69000.0
60000.0
65000.0
55000.0
89000.0
131000.0
131000.0
115000.0
115000.0
171000.0
96000.0
62000.0
0.0
70000.0
80000.0
0.0
0.0
129000.0
48000.0
92000.0
131000.0
59000.0
51000.0
115000.0
129000.0
234000.0
115000.0
0.0
0.0
69000.0
55000.0
92000.0
50000.0
63000.0
166000.0
73000.0
0.0
69000.0
0.0
69000.0
115000.0
115000.0
163000.0
115000.0
39000.0
115000.0
129000.0
55000.0
135000.0
59000.0
129000.0
166000.0
62000.0
55000.0
163000.0
92000.0
69000.0
60000.0
30000.0
115000.0
73000.0
193000.0
69000.0
115000.0
245000.0
108000.0
55000.0
151000.0
51000.0
92000.0
62000.0
115000.0
56000.0
73000.0
92000.0
55000.0
103000.0
62099.99999999999
35000.0
131000.0
77000.0
69000.0
73000.0
69000.0
105000.0
129000.0
92000.0
59000.0
115000.0
0.0
0.0
59000.0
40000.0
129000.0
96000.0
77000.0
105000.0
62000.0
89000.0
50000.0
76000.0
135000.0
69000.0
115000.0
129000.0
141000.0
102000.0
63000.0
155000.0
62000.0
55000.0
48000.0
115000.0
0.0
131000.0
73000.0
131000.0
200000.0
183000.0
56000.0
60000.0
115000.0
52000.0
92000.0
115000.0
0.0
62000.0
56000.0
48000.0
135000.0
55000.0
55000.0
81000.0
63000.0
135000.0
50000.0
129000.0
245000.0
129000.0
189000.0
55000.0
62000.0
131000.0
56000.0
135000.0
115000.0
147000.0
62000.0
55000.0
62000.0
170000.0
56000.0
92000.0
144000.0
49000.0
59000.0
49000.0
130000.0
115000.0
110000.0
62000.0
131000.0
52000.0
159000.0
115000.0
92000.0
62000.0
142000.0
129000.0
73000.0
131000.0
79000.0
151000.0
39000.0
115000.0
48000.0
45000.0
0.0
0.0
48000.0
119000.0
69000.0
49000.0
35000.0
65000.0
0.0
92000.0
142000.0
49000.0
115000.0
35000.0
62000.0
80000.0
70000.0
119000.0
129000.0
48000.0
62000.0
147000.0
160000.0
115000.0
130000.0
56000.0
135000.0
65000.0
65000.0
70000.0
65000.0
55000.0
92000.0
147000.0
0.0
115000.0
140000.0
115000.0
115000.0
105000.0
62000.0
84000.0
55000.0
40000.0
125000.0
130000.0
40000.0
175000.0
135000.0
74000.0
129000.0
115000.0
0.0
60000.0
0.0
55000.0
56000.0
39000.0
0.0
92000.0
62000.0
73000.0
49000.0
55000.0
129000.0
131000.0
56000.0
39000.0
144000.0
0.0
39000.0
129000.0
115000.0
50000.0
115000.0
110000.0
103000.0
69000.0
200000.0
45000.0
0.0
55000.0
73000.0
92000.0
0.0
48000.0
59000.0
77000.0
90000.0
56000.0
129000.0
104000.0
115000.0
56000.0
56000.0
60000.0
0.0
163000.0
59000.0
71000.0
73000.0
65000.0
50000.0
35000.0
115000.0
129000.0
62000.0
125000.0
59000.0
48000.0
0.0
129000.0
129000.0
73000.0
62000.0
73000.0
92000.0
90000.0
94000.0
135000.0
55000.0
0.0
55000.0
175000.0
159000.0
131000.0
40000.0
62000.0
59000.0
92000.0
30000.0
129000.0
81000.0
62000.0
129000.0
140000.0
62000.0
31000.0
60000.0
69000.0
103000.0
57000.0
131000.0
39000.0
62000.0
129000.0
55000.0
129000.0
69000.0
187000.0
50000.0
115000.0
62000.0
136000.0
0.0
59000.0
0.0
65000.0
69000.0
113000.0
110000.0
92000.0
80000.0
197000.0
102000.0
0.0
80000.0
115000.0
159000.0
0.0
140000.0
55000.0
45000.0
92000.0
105000.0
51000.0
129000.0
78000.0
82000.0
77000.0
62000.0
30000.0
160000.0
131000.0
105000.0
129000.0
55000.0
62000.0
70000.0
81000.0
105000.0
92000.0
160000.0
62000.0
135000.0
69000.0
50000.0
73000.0
65000.0
77000.0
131000.0
129000.0
56000.0
65000.0
60000.0
110000.0
62000.0
55000.0
48000.0
51000.0
115000.0
92000.0
170000.0
0.0
56000.0
96000.0
60000.0
115000.0
0.0
62000.0
115000.0
129000.0
55000.0
55000.0
62000.0
73000.0
110000.0
62000.0
55000.0
129000.0
70000.0
135000.0
40000.0
69000.0
48000.0
39000.0
129000.0
73000.0
92000.0
0.0
135000.0
69000.0
92000.0
30000.0
115000.0
73000.0
62000.0
40000.0
49000.0
115000.0
48000.0
81000.0
60000.0
80000.0
73000.0
50000.0
55000.0
80000.0
77000.0
73000.0
136000.0
73000.0
92000.0
73000.0
48000.0
69000.0
70000.0
129000.0
0.0
0.0
115000.0
60000.0
129000.0
110000.0
172000.0
115000.0
185000.0
92000.0
65000.0
92000.0
92000.0
0.0
51000.0
55000.0
48000.0
81000.0
60000.0
177000.0
31000.0
65000.0
56000.0
65000.0
73000.0
129000.0
40000.0
74000.0
129000.0
56000.0
115000.0
62000.0
62000.0
104000.0
0.0
69000.0
48000.0
80000.0
156000.0
129000.0
102000.0
30000.0
79000.0
70000.0
160000.0
62000.0
164000.0
92000.0
119000.0
69000.0
131000.0
235000.0
49000.0
55000.0
129000.0
0.0
62000.0
0.0
56000.0
30000.0
115000.0
70000.0
92000.0
108000.0
39000.0
48000.0
130000.0
103000.0
92000.0
30000.0
62000.0
93000.0
115000.0
73000.0
115000.0
62000.0
135000.0
130000.0
100000.0
80000.0
75000.0
69000.0
65000.0
92000.0
115000.0
69000.0
0.0
79000.0
131000.0
92000.0
0.0
135000.0
81000.0
156000.0
96000.0
81000.0
73000.0
92000.0
69000.0
48000.0
65000.0
115000.0
170000.0
35000.0
92000.0
92000.0
35000.0
104000.0
135000.0
62000.0
45000.0
51000.0
135000.0
69000.0
170000.0
55000.0
44000.0
115000.0
60000.0
73000.0
48000.0
74000.0
105000.0
49000.0
0.0
62000.0
115000.0
115000.0
202000.0
89000.0
190000.0
44000.0
55000.0
30000.0
189000.0
92000.0
73000.0
175000.0
60000.0
39000.0
115000.0
39000.0
140000.0
135000.0
92000.0
65000.0
129000.0
153000.0
62000.0
104000.0
121000.0
81000.0
200000.0
56000.0
69000.0
115000.0
115000.0
200000.0
62000.0
115000.0
129000.0
92000.0
90000.0
69000.0
90000.0
156000.0
62000.0
42000.0
70000.0
90000.0
45000.0
90000.0
0.0
56000.0
142000.0
115000.0
42000.0
62000.0
75000.0
0.0
69000.0
62000.0
115000.0
42000.0
184000.0
56000.0
62000.0
73000.0
69000.0
92000.0
144000.0
62000.0
56000.0
115000.0
62000.0
90000.0
69000.0
0.0
35000.0
92000.0
0.0
129000.0
56000.0
115000.0
45000.0
110000.0
152000.0
75000.0
0.0
142000.0
172000.0
135000.0
0.0
62000.0
0.0
0.0
115000.0
115000.0
115000.0
62000.0
63000.0
92000.0
161000.0
56000.0
115000.0
131000.0
68000.0
48000.0
92000.0
30000.0
59000.0
39000.0
55000.0
92000.0
90000.0
103000.0
129000.0
129000.0
115000.0
142000.0
115000.0
30000.0
30000.0
155000.0
42000.0
142000.0
0.0
62000.0
115000.0
62000.0
150000.0
77000.0
103000.0
152000.0
0.0
55000.0
56000.0
92000.0
115000.0
131000.0
92000.0
39000.0
129000.0
0.0
55000.0
56000.0
56000.0
92000.0
75000.0
140000.0
55000.0
73000.0
0.0
59000.0
129000.0
42000.0
182000.0
55000.0
92000.0
62000.0
92000.0
92000.0
90000.0
92000.0
42000.0
129000.0
132000.0
62000.0
115000.0
79000.0
74000.0
125000.0
42000.0
92000.0
103000.0
115000.0
165000.0
115000.0
129000.0
115000.0
129000.0
129000.0
115000.0
134000.0
59000.0
131000.0
51000.0
92000.0
92000.0
115000.0
126000.0
35000.0
183000.0
115000.0
129000.0
69000.0
115000.0
77000.0
65000.0
75899.99999999999
0.0
39000.0
55000.0
110000.0
55000.0
74000.0
129000.0
115000.0
138000.0
74000.0
115000.0
79000.0
51000.0
196000.0
131000.0
102000.0
115000.0
115000.0
131000.0
62000.0
56000.0
205000.0
90000.0
56000.0
56000.0
110000.0
62000.0
62000.0
131000.0
39000.0
35000.0
59000.0
62000.0
115000.0
153000.0
73000.0
89699.99999999999
115000.0
140000.0
70000.0
112000.0
150000.0
115000.0
178000.0
0.0
115000.0
92000.0
115000.0
92000.0
131000.0
39000.0
56000.0
125000.0
185000.0
42000.0
73000.0
129000.0
30000.0
0.0
55000.0
115000.0
69000.0
131000.0
129000.0
62000.0
35000.0
140000.0
115000.0
55000.0
77000.0
197000.0
102000.0
55000.0
92000.0
135000.0
55000.0
42000.0
92000.0
42000.0
115000.0
55000.0
39000.0
42000.0
69000.0
56000.0
148000.0
55000.0
95000.0
168000.0
115000.0
42000.0
56000.0
50000.0
148000.0
70000.0
73000.0

## Company

In [18]:
missing_values_count = data["Company"].isna().sum()
print("Number of missing values in 'Company' column:", missing_values_count)

Number of missing values in 'Company' column: 1

In [19]:
data.loc[data["Company"].isna()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
797,NaN,NaN,NaN,NaN,NaN,0.0,",,,,,",",,,,"

La ligne n'a aucune information qui soit utile. Nous allons donc la supprimer

In [20]:
data.dropna(subset=['Company'], inplace=True)
data["Company"].isna().sum()

0

In [21]:
data.loc[data["Company"].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities]
Index: []

La ligne est bien supprimée

La ligne ligne a bien été supprimée. Passons à la colonne Job Title

### Colonne Job Title

In [22]:
data["Job Title"].isna().sum()

0

In [23]:
data["Job Title"].unique()

array(['Clinical Data Analyst', 'AML/CFT & Data Analyst',
       'Machine Learning Engineer', ...,
       'Application Integration Engineer, Computer Vision Program',
       'Senior Software Engineer, Machine Learning - Ads Intelligence',
       'Data Scientist - New College Graduate'], dtype=object)

### Colonne Location

In [24]:
data["Location"].isna().sum()

0

In [25]:
data["Location"].unique().tolist()

['Richardson, TX, United States',
 'Ebène, Mauritius',
 'South Jordan, UT, United States',
 'Nonantola, Italy',
 'Arlington, VA, United States',
 'Kirkland, Washington, United States',
 'Porto, Portugal',
 'Bangkok, Thailand',
 'San Jose, CA, United States',
 'Santa Clara, CA, United States',
 'Geneva, Switzerland',
 'Toronto, ON, Canada',
 'Mumbai, India',
 'Braga, Portugal',
 'Gerlingen, Germany',
 'United States, Aliso Viejo, CA',
 'Sydney, New South Wales, Australia',
 'Braga',
 'Remote job',
 'Tallinn',
 'Bengaluru, India',
 'Málaga, Spain',
 'Plymouth, MI, United States',
 'Remote Worldwide',
 'Houston, TX, United States',
 'Saint-Herblain, France',
 'New York City, United States',
 'Mexico City, Mexico',
 'São Paulo, State of São Paulo, Brazil \x85',
 'Poland or Eastern Europe remote',
 'Batu Kawan, Malaysia',
 'Lehi, Utah, Open to Remote',
 'Barcelona, Spain',
 'Los Angeles, CA',
 'Wroclaw, PL',
 'Mount Prospect, IL, United States',
 'Buenos Aires, Buenos Aires, Argentina - Remote',
 'United States - Remote',
 'Indianapolis, IN - Hybrid',
 'Brussels, Germany',
 'Argentina',
 'Boston, Massachusetts, United States',
 'Wien, Austria',
 'Remote',
 'United States',
 'Brussels, Brussels, Belgium - Remote',
 'Gurgaon, India',
 'Lehi, Utah, United States',
 'Cardiff, London or Remote (UK)',
 'San Francisco, CA',
 'Cardiff, Wales, United Kingdom',
 'Campinas, Brazil',
 'London, England, United Kingdom',
 'Oldsmar, FL',
 'Brooklyn, NY, United States',
 'Chicago, Illinois, United States',
 'Birmingham, Alabama, United States - Remote',
 'Remote (United States)',
 'Ukraine',
 'London, United Kingdom',
 'Montreal, QC, Canada',
 'Arlington, Virginia, USA',
 'York, United Kingdom',
 'New York, NEW YORK, United States',
 'Canada',
 'Madrid, Spain',
 'Dubai, Dubai, United Arab Emirates - Remote',
 'Sydney, Australia',
 'New York',
 'Reston, VA, United States',
 'Frankfurt, Hessen, Germany - Remote',
 'Toronto, Ontario',
 'South Africa - Remote',
 'Heredia, Costa Rica',
 'Atlanta, GA, United States',
 'London, England',
 'Englewood Cliffs, NEW JERSEY, United States',
 'Paris, Île-de-France, France',
 'Foster City, CA, United States',
 'Chicago, IL, United States',
 'Brussels, Belgium',
 'Menlo Park, CA',
 'Antwerp, Belgium',
 'San Francisco, California, United States',
 'Austin, TX, United States',
 'Ontario,Canada | Remote-CAN',
 'Delhi, India',
 'US: Remote',
 'Hyderabad, Remote',
 'Newark, CA',
 'North Reading, Massachusetts, USA',
 'Germany',
 'Vilnius, Vilnius County, Lithuania',
 'Tel Aviv, Israel',
 'Midrand, South Africa',
 'Bogotá, Colombia',
 'Lusaka, Zambia',
 'Paris, France',
 'New York City, United States - Remote',
 'Indianapolis, Indiana, United States - Remote',
 'Lehi, Utah',
 'Prague, Czech Republic',
 'Sao Paulo, Sao Paulo, BRA',
 'San Francisco, CA, United States',
 'San Diego, CALIFORNIA, United States',
 'Boulder, Colorado, United States',
 'Tel Aviv',
 'New York City',
 'Pune, India',
 'Warsaw, Poland',
 'Redmond, WA',
 'Toulouse, France',
 'Lviv, Ukraine',
 'Washington, DC, United States',
 'Portugal - Lisbon',
 'Remote, Australia',
 'Philadelphia, PA, United States',
 'Singapore, SGP',
 'San Francisco Bay Area, CA',
 'Lisboa, Portugal',
 'United States- Remote',
 'Navi Mumbai, India',
 'Remote (US & CAN)',
 'Remote - Washington, DC',
 'Ottawa, ON',
 'Bengaluru',
 'Chicago, IL',
 'Lisbon, Portugal or London, United Kingdom',
 'Munich, Germany',
 'San Jose, California, United States',
 'Remote - US',
 'Barcelona, Catalonia, Spain',
 'Greenville, SC, United States',
 'Serbia',
 'Toronto, Canada',
 'Remote - India',
 'Renningen, Germany',
 'Remote, Germany',
 'Gurgaon, Noida, Kolkata, Jaipur, Ahmedabad, Indore, Pune, \x85',
 'Palo Alto, CA',
 'New Delhi, Delhi, India',
 'Mountain View, California (HQ)',
 'London/Manchester (Hybrid)',
 'Bangkok',
 'Marseille, France',
 'Irving, TX, United States',
 'Amman, Amman Governorate, Jordan',
 'Europe, Netherlands',
 'Luxembourg, Luxembourg, Luxembourg',
 'Monterrey, Nuevo Leon, Mexico',
 'San Francisco, California',
 'Foster City, CA',
 'Amphoe Si Maha Phot, Thailand',
 'Remote - United Kingdom',
 'San Diego, California, United States',
 'Hyderabad, India',
 'Beograd, Serbia',
 'Melbourne, Australia',
 'Lagos, Nigeria',
 'Barcelona, Catalonia, Spain - Remote',
 'Hyderabad, Telangana, India',
 'San José, Costa Rica',
 'Redditch, United Kingdom',
 'Sound Beach, NY',
 'Solna, Sweden',
 'Washington, DC Metro Area',
 'New York City; San Francisco, California; Chicago, \x85',
 'Tallinn, Estonia',
 'Rijeka, Croatia',
 'Paris, Île-de-France, France - Remote',
 'New York City, NY',
 'Paris',
 'Remote OR Portland, OR/Boston, MA',
 'Maadi, Cairo Governorate, Egypt',
 'Pune',
 'Malaysia',
 'Frankfurt am Main, Germany',
 'Ensenada, Mexico',
 'Ljubljana - Crnuce, Gibraltar',
 'Makati, Metro Manila, Philippines',
 'Hyderabad',
 'Harare, Harare Province, Zimbabwe',
 'Denver, CO; New York City, NY; San \x85',
 'Mountain View, California, United States, Remote',
 'Kadiköy / Istanbul, Istanbul, Türkiye',
 'Atlanta, Georgia, United States',
 'Oulu, Northern Ostrobothnia, Finland',
 'Austin, TX',
 'Snohomish, WA',
 'Kuala Lumpur, Malaysia',
 'Culham, United Kingdom',
 'Tokyo, JPN',
 'Christchurch, Canterbury, New Zealand',
 'France - Paris',
 'São Paulo, Brazil',
 'Remote, CA, United States',
 'United Kingdom - Remote',
 'Oslo, Oslo, Norway',
 'Ho Chi Minh City, Vietnam',
 'Aberdeen, Scotland, United Kingdom - Remote',
 'India - Bengaluru',
 'Berlin, Germany',
 'Canada (Remote)',
 'Ho Chi Minh City, Vietnam - Remote',
 'Copenhagen',
 'Sofia, Bulgaria',
 'Burlington, MA, United States',
 'San Francisco, California, USA',
 'London, England, United Kingdom - Remote',
 'Warszawa, Poznan, Poland',
 'Madrid',
 'Philippines',
 'Lisbon, Lisbon, Portugal',
 'Brampton, ON, Canada',
 'India',
 'Timi?oara, Romania',
 'United States (Remote)',
 'Arlington, Virginia',
 'Hong Kong, Hong Kong',
 'Tübingen, Baden-Wurttemberg, DEU',
 'Spain',
 'Walnut Creek, California, United States',
 'Sisli, Türkiye',
 'Dulles, VA, United States',
 'Karlsruhe, Germany',
 'San Diego',
 'Istanbul, Istanbul, Turkey',
 'Katowice, Poland',
 'Brazil - Remote',
 'Johannesburg, South Africa',
 'US-Remote',
 'Northwest Township, MO, United States',
 'Remote - United States',
 'Pune, Maharashtra, India',
 'Bay Area, CA',
 'San Francisco, United States',
 'Chicago, IL or Remote',
 'Long Beach, California',
 'Oxford, United Kingdom',
 'Sofia',
 'Sofia, Sofia (stolitsa), Bulgaria',
 'Huntsville, Alabama, United States',
 'São Paulo, State of São Paulo, Brazil',
 'Phra Khanong, Bangkok, Thailand',
 'San Francisco, Seattle, or remote',
 'Palo Alto, California, USA',
 'Wilmington, MA, United States',
 'Remote-Asia Pacific',
 'Springfield, Virginia, United States',
 'Biassono, Italy',
 'Bengaluru, Singapore',
 'San Francisco, CA or Denver, CO or \x85',
 'Stockholm, Finland',
 'Aberdeen, Scotland, United Kingdom',
 'Santa Clara, CA',
 'Ballerup, Denmark',
 'Columbia, Maryland',
 'Bucharest, Romania',
 'Scott Air Force Base, Illinois, United States',
 'Italy - Remote',
 'Seoul, Seoul, Korea, Republic of',
 'Singapore, Singapore',
 'PT Porto, Portugal',
 'London, UK',
 'Sparkford, England, United Kingdom',
 'Budapest, HUN',
 'Bioggio, Switzerland',
 'New York City; Incline Village, NV; Reno, \x85',
 'Costa Mesa, CA, United States',
 'Wellington, Wellington, New Zealand',
 'Bath, England, United Kingdom',
 'Denham, United Kingdom',
 'Paris or Remote from France',
 'India - Remote',
 'Maassluis, Netherlands',
 'Montreal, Quebec, Canada',
 'New York City or Remote',
 'Ciudad de México, Mexico',
 'Thane, India',
 'Seattle, WA; San Francisco, CA',
 'Sarajevo, Federation of Bosnia and Herzegovina, Bosnia \x85',
 'Calabasas, CA',
 'Saint-Sauveur, France',
 'Somerville, Massachusetts, United States - Remote',
 'Warszawa, Poland',
 'Remote, UNITED STATES, United States',
 'Lyndhurst, Australia',
 'Santa Clara, California, United States',
 'Copenhagen, Denmark',
 'Pune, Maharashtra',
 'Dublin',
 'Mountain View, United States',
 'Rijswijk, South Holland, Netherlands',
 'Lisbon, Portugal',
 'Dublin, Ireland',
 'Remote Germany',
 'Seoul, South Korea',
 'Montréal, QC, Canada',
 'Remote, US',
 'Plano, TX, United States',
 'Boston, Massachusetts, United States - Remote',
 'Coppell, Texas, United States',
 'Remote- US',
 'Mexico',
 'Cape Town',
 'Mumbai, Philippines',
 'Sandton, South Africa',
 'Brazil',
 'Remote- U.S. Based',
 'France - Remote',
 'Raleigh, NC, United States',
 'Santiago de Querétaro, Querétaro, Mexico',
 'Bengaluru, Karnataka, India - Remote',
 'Kusterdingen, Germany',
 'Jakarta, Jakarta, Indonesia',
 'Kfar Saba, Israel',
 'uMhlanga, South Africa',
 'Dallas, TX, United States',
 'New York City - Hybrid',
 'Miami, Florida, United States',
 'San Francisco',
 'Oakville, ON',
 'Cincinnati, OH; Chicago, IL; Deerfield, IL; Portland, \x85',
 'Remote or Mississauga',
 'Brampton, Ontario, Canada',
 'Hamburg, Germany',
 'Charlottesville, Virginia, United States',
 'Fleet, England, United Kingdom',
 'George Town, Malaysia',
 'Seattle, WA',
 'Nanterre, France',
 'Campbell, CA',
 'Tel Aviv-Yafo, Tel Aviv District, Israel',
 'Singapore, Central, Singapore',
 'Pakistan - Remote',
 'Santiago, Santiago Metropolitan Region, Chile',
 'Edinburgh, Scotland, United Kingdom - Remote',
 'Vancouver, BC (Remote)',
 'Charlotte, NC, United States',
 "St. Julian's, St. Julian's, Malta - Remote",
 'Riga, Latvia',
 'Sunnyvale, CA, United States',
 'Seattle, WA - Hybrid',
 'Remote - Canada',
 'Groningen, Groningen, Netherlands - Remote',
 'Pueblo, CO, United States',
 'Oegstgeest, Netherlands',
 'Karlsruhe, Baden-Württemberg, Germany - Remote',
 'Brisbane, Queensland, Australia',
 'Columbia, MO',
 'Vancouver, Canada & Toronto, Canada',
 'San Francisco, CA, Seattle, WA, or Remote',
 'Cambridge, MA',
 'US Remote',
 'Mumbai, Maharashtra, India - Remote',
 'Arlington, VA',
 'Reigate, United Kingdom',
 'San Francisco or Remote',
 'Shannon, Ireland',
 'Ho Chi Minh City, Ho Chi Minh \x85',
 'Manchester, United Kingdom',
 'Chennai, India',
 'Long Beach, CA, United States',
 'Berlin HQ',
 'San Mateo, CA, United States',
 'CA - San Francisco HQ; WA - \x85',
 'Modena, Province of Modena, Italy',
 'Washington, DC',
 'Carpinteria, CA, United States',
 'Chantilly, VA',
 'Markham, ON, Canada',
 'Cambridge, England',
 'Remote, United Kingdom',
 'Kraków, Poland',
 'Local Office, Local Office, United States',
 'Massy, France',
 'Jakarta, Indonesia',
 'Remote, REMOTE, United States',
 'Germany, Berlin',
 'Dublin, County Dublin, Ireland',
 'Calgary, AB',
 'Valencia, ESP',
 'Palo Alto, California, United States',
 'Toronto (Remote)',
 'Wellington, New Zealand',
 'Seattle, Washington, USA',
 'Raleigh/Durham | Remote',
 'Toronto, Ontario, Canada',
 'Columbus, Ohio, USA',
 'Amsterdam, Noord-Holland, Netherlands',
 'Central U.S. to, East Coast Support, United \x85',
 'Norwich, United Kingdom',
 'Rotterdam, Zuid-Holland, Netherlands',
 'Amsterdam, Netherlands',
 'Wakefield, United Kingdom',
 'Lyon, France',
 'Seattle, WA, United States',
 'Remote US',
 'Gothenburg, Västra Götaland County, Sweden',
 'Vadodara, Gujarat, India',
 'Wichita, KS',
 'San Mateo, CA',
 'Kolding, Denmark',
 'Dublin 1, Ireland',
 'Canada - Remote',
 'Nantes, France',
 'Makati City',
 'Los Gatos, California',
 'Columbia, Maryland, United States',
 'Paris, France; Madrid, Spain; Lisbon, Portugal; Nantes, \x85',
 'Boston, MA, United States',
 'Makati, Makati, Philippines',
 'LATAM (Remote)',
 'Louisville, Colorado',
 'Texcoco, State of Mexico, Mexico',
 'Barangaroo, Australia',
 'Somerville, MA',
 'Flexible within the US',
 'Brussels, Brussels, Belgium',
 'Hyderabad - India',
 'Jersey City, NJ, United States',
 'Toronto or Vancouver, Canada, United States',
 "Aix-en-Provence, Provence-Alpes-Côte d'Azur, France",
 'Plano, Texas',
 'Bengaluru, Karnataka, IND',
 'Cambridge, United Kingdom',
 'Liverpool, England, United Kingdom',
 'Osaka, JPN',
 'Toronto, Palo Alto, San Francisco, London',
 'Eindhoven, Netherlands',
 'Malvern East, Australia',
 'Remote, UK',
 'Santiago, Santiago Metropolitan Region, Chile - Remote',
 'Cincinnati, Ohio, United States',
 'Manchester, England, United Kingdom',
 'Global',
 'Porto, Porto, Portugal',
 'Cambridge, MA USA',
 'Orlando, Florida, United States',
 'Linz, Vienna, Hagenberg, Austria',
 'Boston, MA',
 'Montreal, QUEBEC, Canada',
 'Remote, OR, United States',
 'Monterrey, Nuevo Leon, Mexico - Remote',
 'Milano, Italy',
 'Athens',
 'BR São Paulo, São Paulo, Brazil',
 'Senningerberg, Luxembourg, Luxembourg',
 'New York City, USA',
 'Valencia, Comunidad Valenciana, Spain',
 'Manila, Manila, Philippines',
 'Skopje, Greater Skopje, North Macedonia',
 'London',
 'San Francisco, CA / New York City',
 'Milton Keynes, United Kingdom',
 'Bucure?ti, Bucharest, Romania',
 'Rennes, France',
 'Remote-USA',
 'Carson, CA, United States',
 'Aveiro, Portugal',
 'Grenoble, France',
 'Guadalajara, Mexico',
 'Israel',
 'Belgrade, Serbia',
 'Rochester, New York, United States',
 'Warszawa, Poznan, Wroclaw, Kraków, Gdansk, Poland',
 'Seoul, Seoul, South Korea',
 'Barcelona Area',
 'San Leandro, California, United States',
 'Warsaw, Masovian Voivodeship, Poland',
 'Johannesburg',
 'Mumbai, Maharashtra',
 'Lexington, MA',
 'Barcelona',
 'Coimbatore, India',
 'Culver City, CA, United States',
 'Toronto, Ontario, Canada - Remote',
 'Ljubljana, Slovenia',
 'Utrecht, Utrecht, Netherlands',
 'Hong Kong',
 'Colombia Remote',
 'San Antonio, TX (Local Remote)',
 'Calabarzon, Philippines - Remote',
 'Toronto',
 'Denver, Colorado, United States',
 'Cluj, Jucu, Romania',
 'Ankara, Ankara, Turkey',
 'Melbourne',
 'Wernau (Neckar), Germany',
 'Bandung, Jawa Barat, Indonesia',
 'Los Altos, CA',
 'Berlin, Remote',
 'United Kingdom, London',
 'Roma, Italy',
 'Budapest, Hungary',
 'Seattle, WA; San Francisco, CA; US Remote',
 'Manchester, UK',
 'Nuneaton, United Kingdom',
 'Hungary - Budapest',
 'New York City, United States, Remote',
 'San Mateo',
 'Helsinki, Finland',
 'Bellevue, Washington',
 'Remote Available',
 'San Mateo, CA, USA',
 'Stuttgart, Germany',
 'Los Angeles',
 'Charlotte, North Carolina, United States - Remote',
 'All Cities, Spain',
 'Buffalo, NY, United States',
 'Visakhapatnam, AP',
 'New York City | Remote-USA | Remote-CAN',
 'New Hampshire Area',
 'Mountain View, CA',
 'Costa Rica',
 'India - Pune',
 'Culver City, San Francisco, Dallas',
 'Cambridge, England, United Kingdom, London, England, United \x85',
 'Budapest, Szeged, Debrecen, Pécs, Hungary',
 'Espoo, Uusimaa, Finland - Remote',
 'Seattle Area',
 'Houston, TX',
 'PT Lisboa, Portugal',
 'Islamabad, Islamabad Capital Territory, Pakistan',
 'Remote, USA',
 'Bellevue, San Francisco',
 'Issy-les-Moulineaux, Île-de-France, France',
 'Durham, NC, United States',
 'Knoxville, TN, United States',
 'Open to Remote',
 'Greensboro, NC, United States',
 'Brazil - Sao Paulo',
 'Santa Clara, California, USA',
 'Petaling Jaya, Malaysia',
 'Chicago, IL; Remote',
 'Fremont, California, United States',
 'Bellevue, WA, USA',
 'Chennai (Hybrid)',
 'Austin, Texas, United States',
 'Remote in the UK',
 'New Cairo City, Cairo Governorate, Egypt',
 'San Francisco, Remote',
 'York, Pennsylvania, United States - Remote',
 'Bengaluru, Karnataka, India',
 'São Paulo, Brazil - Remote',
 'Belfast, Northern Ireland, United Kingdom',
 'Gdansk, Poland',
 'Bidart, Nouvelle-Aquitaine, France',
 'Vilnius, Vilnius City Municipality, Lithuania',
 'Mexico City, MX - Remote',
 'Tân Bình, Vietnam',
 'Centurion, South Africa',
 'Sevilla',
 'Stockholm',
 'Waiblingen, Germany',
 'Los Angeles, CA, United States',
 'San Diego, CA',
 'Budapest, Debrecen, Szeged, Pécs, Hungary',
 'San Juan, San Juan, Puerto Rico',
 'Scotland, United Kingdom - Remote',
 'Reston, VA',
 'Canberra, Australia',
 'Nuremberg, Germany',
 'São Paulo, São Paulo, Brazil',
 'Cairo, Al Qahirah, Egypt',
 'Muntinlupa, Philippines',
 'Singapore',
 'San Francisco, CA; Remote',
 'Redwood City, USA & Vancouver, Canada & \x85',
 'Remote Canada | Remote United States',
 'Toronto, ON',
 'Wright Patterson AFB, Ohio',
 'Mountain View, CA, United States',
 'South San Francisco, CA',
 'Washington, DC, Remote (USA)',
 'Bucharest, Bucharest, Romania - Remote',
 'Remote (US)',
 'Athens, Attica, Greece',
 'Brazil - Sao Paolo',
 'Remote - West Coast - US/Canada',
 'Home based - EMEA',
 'Santa Clara, CA or Princeton, NJ',
 'Germany - Remote',
 'New York City, United States / Los \x85',
 'Lahore, Pakistan',
 'Mexico - Remote',
 'Mountain View, California, United States',
 'Remote, United States',
 'Pune, Bengaluru, Remote',
 'Madrid, Community of Madrid, Spain',
 'Taguig',
 'US, WA, Virtual Location - Washington',
 'Remote - USA',
 'Haifa, Israel OR Tel Aviv, Israel',
 'Santa Clara, CALIFORNIA, United States',
 'California, California, United States',
 'Berlin, Finland',
 'Rabat, Morocco',
 'Athens, Greece',
 'København, Denmark',
 'Zagreb, Croatia',
 'United States, NA, United States',
 'Ovar, Portugal',
 'Worcester, United Kingdom',
 'Global Barcelona',
 'Ljubljana - Crnuce, Austria',
 'Bellevue, WA',
 'Bogota, Colombia',
 'Taiwan',
 'US - Remote',
 'Pasig, Metro Manila, Philippines - Remote',
 'New York / London / Remote',
 'Campinas, SP',
 'Colombo, Western Province, Sri Lanka',
 'Bangkok, Bangkok Metropolis, Thailand',
 'Hawthorne, CA',
 'Bengaluru, Karnataka',
 'London or remote (U.K)',
 'Amsterdam, North Holland, Netherlands',
 'Phoenix, AZ',
 'San Francisco, Los Angeles, Chicago, New York, \x85',
 'Calgary, AB, United States',
 'Palaiseau, France',
 'Palo Alto',
 'Kolkata, West Bengal, India',
 'Parsippany-Troy Hills, NJ, United States',
 'Kraków, Lesser Poland Voivodeship, Poland',
 'Remote in Philippines',
 'Remote; Chicago; Dallas; Phoenix; Denver; Atlanta',
 'Lviv, Lviv Oblast, Ukraine - Remote',
 'Philadelphia, Pennsylvania, United States - Remote',
 'San Mateo, California, United States',
 'San Francisco, CA - Remote',
 'San Francisco, CA; Seattle, WA; New York \x85',
 'Calgary, Alberta, Canada',
 'Milan, Metropolitan City of Milan, Italy',
 'Taipei, Taiwan',
 'Nairobi',
 'Gibraltar, Gibraltar',
 'Springdale, AR, United States',
 'Denver, CO - Hybrid',
 'Ontario, Canada',
 'India- Remote',
 'San Francisco (or remote)',
 'Deer Park, TX, United States',
 'Quincy, Massachusetts, United States',
 'Herndon, Virginia, USA',
 'Lüneburg, Germany',
 'Copenhagen, Berlin, London, Madrid, Montreal, Lisbon, Stockholm',
 'Bethesda, MD',
 'United States, Remote',
 'Tokyo, Japan',
 'Vancouver, BC, Canada',
 'Uttoxeter, England, United Kingdom - Remote',
 'Chantilly, VA, United States',
 'Cape Town, Western Cape, South Africa',
 'Lancaster, PA, United States',
 'MÉXICO',
 'Budapest, Budapest, Hungary',
 'New York, CA, United States',
 'New York City OR Remote',
 'Romania',
 'Stamford, CT, United States',
 'Chiasso, Switzerland',
 'New Delhi, Delhi, India - Remote',
 'Kathmandu, Nepal',
 'Roodepoort, South Africa',
 'Lisbon, Lisbon, Portugal - Remote',
 'Mountain View, California',
 'North Sydney, Australia',
 'Prague, Czech republic',
 'Israel - Kiryat Ono',
 'Mumbai',
 'Iasi, ROU',
 'Seattle, Washington, United States',
 'New York City, United States (Hybrid)',
 'Dijon, France',
 'Denver, CO',
 'San Francisco, CA; Mountain View, CA; Los \x85',
 'Denver, CO (Remote)',
 'Lisbon, Portugal (Remote / Hybrid)',
 'Bellevue, Washington, USA',
 'Austin, Texas, United States - Remote',
 'Sao Paulo, Brazil',
 'Lagos, NG',
 'Düsseldorf, Germany',
 'Edinburgh, United Kingdom',
 'Redwood City, CA',
 'Valencia, Valencian Community, Spain - Remote',
 'Remote; Columbia, Missouri; Kansas City, Missouri, United \x85',
 "Villeneuve-d'Ascq, France",
 'Pune, IN',
 'San Pedro Garza García, Mexico',
 'Cambridge, MA, USA',
 'Israel - Tel Aviv',
 'Wien, Slovenia',
 'Carlsbad, CA, United States',
 'United Kingdom - London',
 'United States, Los Angeles, CA',
 'Cupertino, California, USA',
 'Makati City, Philippines',
 'Singapore, Singapore, Singapore',

### Colonne Job Type

In [26]:
data["Job Type"].isna().sum()

0

Les valeurs manquantes des colonnes Job Type, Location,Job Title et Company étaient dans la meme entrée et la ligne est désormais supprimée.
- Passons à la colonne Experience level

### Experience level

In [27]:
data["Experience level"].isna().sum()

227

Il y a exactement 227 valeurs manquantes. Allons-nous les supprimer ? Nous allons éviter au maximum de supprimer. Nous allons tenter une amputation. Le salaire normalement augmente en fonction de l'expérience. Donc nous allons tenter une amputation par modèle de machine learning.

In [28]:
data["Experience level"].unique()

array(['Entry-level', nan, 'Mid-level', 'Senior-level', 'Executive-level'],
      dtype=object)

In [29]:
na_xp_level = data.loc[data["Experience level"].isna()]
na_xp_level

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90000.0,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
11,NielsenIQ,Data Analyst - Revenue Optimizer,"Toronto, ON, Canada",Full Time,NaN,80000.0,"Business Analytics,Business Intelligence,Data ...","Career development,Startup environment,,,"
18,Issuu,BI Analyst,Braga,Full Time,NaN,48000.0,"Business Analytics,Business Intelligence,Data ...","Competitive pay,Equity,Health care,Insurance,"
36,Bosch Group,Data Science Lead (Hybrid),"Mount Prospect, IL, United States",Full Time,NaN,63000.0,"A/B testing,Data visualization,Economics,Engin...","Career development,Competitive pay,Health care,,"
69,SSENSE,"Data Analyst, Customer Experience","Montreal, QC, Canada",Full Time,NaN,80000.0,"Business Intelligence,Computer Science,CX,Data...","Career development,Startup environment,,,"
...,...,...,...,...,...,...,...,...
3149,Syngenta Group,Agronomy Data Scientist (M/W) - CDI,"Saint-Sauveur, France",Full Time,NaN,90000.0,"Computer Science,D3,Data analysis,Data Mining,...","Career development,,,,"
3157,Precision for Medicine,Data Engineer,"Remote, United States",Full Time,NaN,70000.0,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."
3163,Informa Group Plc.,Data Operations Engineer,"Toronto, ON, Canada",Full Time,NaN,60000.0,"Agile,AWS,DataOps,Engineering,ETL,Pipelines","Career development,Flex hours,Flex vacation,He..."
3172,Precision Medicine Group,Data Engineer,"Remote, United States",Full Time,NaN,70000.0,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."
3177,MUFG Investor Services,Data Engineer (Contractor),"Limassol, Cyprus",Full Time,NaN,95000.0,"Agile,Computer Science,Engineering,ETL,Python,","Competitive pay,,,,"

In [30]:
Xp_Salary = data[["Experience level", "Salary"]]
Xp_Salary_without_na = data[["Experience level", "Salary"]].dropna(subset=["Experience level", "Salary"])

In [31]:
data["Experience level"] = data["Experience level"].fillna("Not Specified")
data.loc[data["Experience level"] == "Not Specified"]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,No Specified,90000.0,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
11,NielsenIQ,Data Analyst - Revenue Optimizer,"Toronto, ON, Canada",Full Time,No Specified,80000.0,"Business Analytics,Business Intelligence,Data ...","Career development,Startup environment,,,"
18,Issuu,BI Analyst,Braga,Full Time,No Specified,48000.0,"Business Analytics,Business Intelligence,Data ...","Competitive pay,Equity,Health care,Insurance,"
36,Bosch Group,Data Science Lead (Hybrid),"Mount Prospect, IL, United States",Full Time,No Specified,63000.0,"A/B testing,Data visualization,Economics,Engin...","Career development,Competitive pay,Health care,,"
69,SSENSE,"Data Analyst, Customer Experience","Montreal, QC, Canada",Full Time,No Specified,80000.0,"Business Intelligence,Computer Science,CX,Data...","Career development,Startup environment,,,"
...,...,...,...,...,...,...,...,...
3149,Syngenta Group,Agronomy Data Scientist (M/W) - CDI,"Saint-Sauveur, France",Full Time,No Specified,90000.0,"Computer Science,D3,Data analysis,Data Mining,...","Career development,,,,"
3157,Precision for Medicine,Data Engineer,"Remote, United States",Full Time,No Specified,70000.0,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."
3163,Informa Group Plc.,Data Operations Engineer,"Toronto, ON, Canada",Full Time,No Specified,60000.0,"Agile,AWS,DataOps,Engineering,ETL,Pipelines","Career development,Flex hours,Flex vacation,He..."
3172,Precision Medicine Group,Data Engineer,"Remote, United States",Full Time,No Specified,70000.0,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."
3177,MUFG Investor Services,Data Engineer (Contractor),"Limassol, Cyprus",Full Time,No Specified,95000.0,"Agile,Computer Science,Engineering,ETL,Python,","Competitive pay,,,,"

In [39]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.preprocessing import OrdinalEncoder

# # Rest of the code remains unchanged...

# # Convert "Experience level" to strings
# data["Experience level"] = data["Experience level"].astype(str)

# # Convert "Experience level" to numerical representation using ordinal encoding
# ordinal_encoder = OrdinalEncoder()
# # Replace missing "Experience level" values with a placeholder (e.g., -1) before encoding
# data["Experience level"].fillna("-8", inplace=True)  # Placeholder for missing values

# # Convert "Salary" to numeric (if it's not already)
# data["Salary"] = data["Salary"].astype(float)

# # Step 2: Split the data into training and test sets
# X = data[["Salary", "Experience level"]]
# X = X.dropna(subset=["Experience level"])  # Drop rows with missing "Experience level"
# y = X.pop("Experience level")  # Extract the target variable
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Step 3: Choose and train a machine learning model
# model = RandomForestClassifier()  # You can choose a different model here if needed
# model.fit(X_train, y_train)

# # Step 4: Use the trained model to predict "Experience level" for missing values
# # Find rows with missing "Experience level"
# missing_experience_rows = data[data["Experience level"].isna()]

# if len(missing_experience_rows) == 0:
#     print("No missing rows found with 'Experience level'.")
# else:
#     # Predict "Experience level" for missing rows based on "Salary"
#     predicted_experience = model.predict(missing_experience_rows[["Salary"]])

#     # Step 5: Fill in the missing values in the original DataFrame with the predicted values
#     data.loc[data["Experience level"] == "-8", "Experience level"] = predicted_experience

#     # Convert back to original labels for "Experience level"
#     data["Experience level"] = ordinal_encoder.inverse_transform(data[["Experience level"]].astype(int))

# # # Step 6: Save the updated DataFrame to a new CSV file (if needed)
# # data.to_csv("updated_data.csv", index=False)

No missing rows found with 'Experience level'.

In [37]:
data["Experience level"].isna().sum()

0

In [32]:
data["Experience level"].unique()

array(['Entry-level', 'No Specified', 'Mid-level', 'Senior-level',
       'Executive-level'], dtype=object)

Plus de valeurs manquantes !

In [18]:
# Obtenir le nombre d'occurrences de chaque valeur unique dans la colonne "Experience level"
experience_counts = data["Experience level"].value_counts()

# Obtenir la valeur la plus fréquente dans la colonne "Experience level" (en cas d'égalité, on prend la première)
most_frequent_experience = experience_counts.idxmax()
most_frequent_experience
# # Remplacer les valeurs NaN par la valeur la plus fréquente dans la colonne "Experience level"
# data["Experience level"] = data["Experience level"].fillna(most_frequent_experience)

# # Afficher le nombre d'occurrences de chaque valeur unique dans la colonne "Experience level"
# print("Nombre d'occurrences de chaque valeur unique dans la colonne 'Experience level':")
# print(experience_counts)

# # Afficher le DataFrame mis à jour avec les valeurs NaN remplacées
# print("\nDataFrame mis à jour avec les valeurs NaN remplacées:")
# print(data["Experience level"])

'Senior-level'

In [33]:
xp_level = data.loc[data["Experience level"].isna()]
xp_level

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities]
Index: []

In [54]:
# Supposons que votre DataFrame s'appelle data
data["Experience level"].fillna("Not Specified", inplace=True)

In [55]:
data["Experience level"].isna().sum()

0

### Colonne Company

In [49]:
# Sélectionner une colonne non numérique pour la détection des valeurs aberrantes (par exemple, "Experience level")
column_name = "Company"
data_column = data[column_name]

# Vérifier les valeurs uniques dans la colonne
unique_values = data_column.unique()

# Compter le nombre d'occurrences de chaque valeur unique
value_counts = data_column.value_counts()

# # Afficher les valeurs uniques et leur nombre d'occurrences
# for x in data_column:
#     print(x)

In [40]:
import requests

# Remplacez 'YOUR_USERNAME' par votre nom d'utilisateur GeoNames
USERNAME = 'yonlifidelis'

# Liste de localisations (vous pouvez remplacer cette liste par vos données)
locations = data_column
# Fonction pour vérifier si une localisation est une ville valide en utilisant GeoNames API
def is_valid_city(location):
    url = f"http://api.geonames.org/searchJSON?q={location}&maxRows=1&username={USERNAME}"

    response = requests.get(url)
    data = response.json()

    # Si l'API renvoie des résultats et que le type est "geoname", c'est une ville valide
    return 'geonames' in data and len(data['geonames']) > 0 and data['geonames'][0]['fclName'] == 'city, village,...'

# Filtrer les noms de villes valides
valid_cities = [location for location in locations if is_valid_city(location)]

# Afficher les noms de villes valides
print("Noms de villes valides :")
print(valid_cities)

Noms de villes valides :
[]

# Data Analysis

Cette étape va consister à donner réponse à un certain nombre de questions

- Identifier les tendances clés du marché de l'emploi en IA, DS et Big Data.
- Mettre en évidence les compétences les plus demandées et les titres de poste les plus courants dans ces domaines.
- Analyser les différences et les similitudes entre les opportunités d'emploi en IA, DS et Big Data.
- La pertinence des questions clés identifiées pour l'analyse des données.

- Quels sont les postes les plus recherchés ?
- Quels sont les jobs les mieux les payés ?
- Quels sont les pays qui recrutent le plus ?
- Quels sont les pays qui paient le mieux ?
- Les pays qui recrutent le plus sont-ils ceux qui paient le mieux ?
- Quelles sont les compagnies qui recrutent le plus ?